<div class="modal fade" id="waiver_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container modal-dialog">
    <button type="button" class="close-btn standard-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
    <%= form_tag url: {action: 'sign_waiver'} do %>
      <h2 class="title">Waiver</h2>
      <div class="row">
        <div class="col-xs-4">
          This waiver is for
        </div>
        <div class="col-xs-8 waiver-athletes">
        </div>
      </div>
      <br/>
      <p>If this information is incorrect please click the red X on the top right and update the information before attempting to sign the waiver again.</p>
      <p>If any athletes are missing, please be sure that all information is filled out entirely with the requested formats.</p>
      <div class="internal-center">
        <%= link_to 'REVIEW AND DOWNLOAD WAIVER', '//s3-us-west-2.amazonaws.com/pkut-default/RELEASE+AGREEMENT1.pdf', class: 'pkut-link', target: '_blank' %>
        <div class="text-field-height pkut-checkbox">
          <%= check_box_tag :signed, '', nil, class: 'required-checkbox' %>
          <%= label_tag :signed, '' %>
        </div>
      </div>
      <p>By checking the box above, I hereby agree to waive any liability of Parkour Utah for the athletes listed above. By entering my name below, I certify that I have downloaded, read, and understand all of the terms and provisions in the liability waiver document available for download above.</p>
      <p>I also certify that I understand that the above document that I have downloaded and read is a legal document, and it is my understanding that an electronic signature has the same effect and can be enforced in the same way as a writen signature, as stated in Utah Code 46-4-201.</p>
      <p>By signing this document, I am waiving any liability claims against Parkour Utah for myself, and, if any of the athletes listed above are minors, I certify that I am the parent and/or guardian of those athletes, and I am waiving any liability claims against Parkour Utah on behalf of the minors listed as the athletes above.</p>
      <br/>
      <div class="internal-center">
        <%= text_field_tag :signed_by, '', placeholder: 'Signed By', class: 'pkut-textbox', required: true, autocomplete: 'off' %>
        <br/>
        <a class="pkut-btn add-athletes-submission" data-dismiss="modal">Sign Waiver</a><br/>
      </div>
    <% end %>
  </div>
</div>
