<div class="central-container form-offset disableEnterSubmit">
  <h6 class="warning-text text-center">This form must be completed by a parent or legal guardian.</h6>
  <%= form_tag url: {controller: 'dependents', action: 'update_waivers'} do %>
  <% @athletes.each do |athlete| %>
    <div class="row athlete-input-info">
      <div class="col-sm-6">
        <%= text_field_tag "update_athlete[#{athlete.id}][name]", '', placeholder: 'Full Name', value: athlete.full_name, class: "pkut-textbox formatName" %>
      </div>
      <div class="col-sm-6">
        <%= text_field_tag "update_athlete[#{athlete.id}][dob]", '', placeholder: 'MM/DD/YYYY', value: athlete.date_of_birth, class: "pkut-textbox sm-textbox formatDOB" %>
        <%= text_field_tag "update_athlete[#{athlete.id}][code]", '', placeholder: 'Code', value: athlete.zero_padded(athlete.athlete_pin, 4), class: "pkut-textbox xs-textbox formatPin" %>
        <a alt="..." data-toggle="modal" data-target="#destroy_athlete"><%= icon("times-circle-o", '', class: 'fa-2x delete-athlete hover-btn', id: athlete.id) %></a><br/>
      </div>
    </div>
  <% end %>
  <h2 class="header-text">Add Athletes</h2>
  <p>Add the first and last name, birthday, and desired fast pass code <a data-toggle="modal" data-target="#what_is"><sup>(What is this?)</sup></a> of any athlete (including yourself) who is going to participate in lessons.</p>
    <% token = 10.times.map {(('a'..'z').to_a + ('A'..'Z').to_a + ('0'..'9').to_a).sample}.join %>
    <div class="athlete-container">
      <div class="row athlete-input-info">
        <div class="col-sm-6">
          <%= text_field_tag "athlete[#{token}][name]", '', placeholder: 'Full Name', class: "pkut-textbox formatName" %>
        </div>
        <div class="col-sm-6">
          <%= text_field_tag "athlete[#{token}][dob]", '', placeholder: 'MM/DD/YYYY', class: "pkut-textbox sm-textbox formatDOB" %><%= text_field_tag "athlete[#{token}][code]", '', placeholder: 'Code', class: "pkut-textbox xs-textbox formatPin" %><%= icon("times-circle-o", '', class: 'fa-2x kill-athlete hover-btn') %>
        </div>
      </div>
    </div>
    <%= render partial: 'dependents/reiterate_waiver' %>
    <%= render partial: 'dependents/waivers' %>
  <% end %>
  <h4><span class="add-athlete-btn hover-btn"><%= icon('plus-square-o', '', class: 'fa-lg') %> Add Athlete</span></h4>
  <a alt="..." class="pkut-btn pull-right populate-waiver-btn" data-toggle="modal" data-target="#waiver_modal">Sign Waiver</a><br/>
</div>
<%= render partial: 'layouts/message', locals: {
  modal_id: "error_modal",
  title: "Error",
  message:
    "Sorry! It looks like we still need some information.
    Before continuing, please make sure you have downloaded, read, and understand the waiver.
    Next, make sure you have done the following:
    1) Have added at least 1 athlete.
    2)Have agreed to the Terms and Conditions.
    3) Have signed your name."} %>
<%= render partial: 'layouts/message', locals: {modal_id: "what_is", title: "Fast Pass Code", message: "The fast pass code is a 4 digit code used by the student or athlete to enter in to the Instructor's pin-pad at the beginning of class in order to easily identify the student and subtract credits from the account for class."} %>
<%= render partial: 'dependents/confirm_delete' %>
