<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?v=3.23&key=<%= ENV['PKUT_GMAPS_KEY'] %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>
<div class="central-container form-offset">
  <h1>Spots</h1>
  (Click a spot to see the name and link to more details)
  <div style="width: 400px;" class="gmap" data-lat="40.6" data-lng="-111.9" data-contain="true" data-zoom="10">
    <div id="map" style="width: 400px; height: 400px;"></div>
    <% @spots.each do |spot| %>
      <span class="hidden gmap_coord" data-lat="<%= spot.lat %>" data-lon="<%= spot.lon %>" data-spot-name="<%= spot.title %>" data-spot-url="<%= spot_path(spot) %>"/>
    <% end %>
  </div>
</div>
