<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?v=3.23&key=<%= ENV['PKUT_GMAPS_KEY'] %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>
<div class="central-container form-offset">
  <h1>New Spot</h1>
  <%= form_for [@spot], html: {id: 'gmaps_form'} do |f| %>
    <div class="row">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="row">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="row">
      <%= f.label :location, 'Address' %>
      <%= f.text_field :location, id: 'gmaps_address' %>
      <input type="button" name="submit" value="Search by Address" id="gmaps_search"/>
    </div>

    <%= f.text_field :lon, class: 'hidden', id: 'lon' %>
    <%= f.text_field :lat, class: 'hidden', id: 'lat' %>

    <%= f.submit %>
  <% end %>

  <div style="width: 400px;" class="gmap" data-lat="40.5649781" data-lng="-111.83897260000003" data-zoom="17">
    <div id="map" style="width: 400px; height: 400px;"></div>
    <span class="hidden gmap_coord" data-lat="40.5649781" data-lon="-111.83897260000003"/>
  </div>
</div>
