<div class="central-container form-offset">
  <% if current_user && current_user.is_admin? %>
    <%= link_to 'Edit Spot', edit_spot_path(@spot), class: 'pkut-btn' %>
  <% end %>
  <h1><%= @spot.title %></h1>
  <div class="">
    <%= @spot.description %>
  </div>
  <div class="">
    <a href="http://maps.google.com/maps?z=15&t=m&q=loc:<%= spot.lat %>+<%= spot.lon %>" target="_blank"><%= spot.location %><br/>Click here to open in Google Maps</a>
    <br/>
    <br/>
  </div>

  <div style='width: 400px;' class="gmap" data-lat="<%= @spot.lat %>" data-lng="<%= @spot.lon %>" data-zoom="17">
    <div id="map" style='width: 400px; height: 400px;'></div>
    <span class="hidden gmap_coord" data-lat="<%= @spot.lat %>" data-lon="<%= @spot.lon %>" data-spot-name="<%= @spot.title %>" data-spot-url="<%= spot_path(@spot) %>"/>
  </div>

  <div class="">
    <% @spot.images.each do |image| %>
      <%= image_tag image.file %>
    <% end %>
  </div>
</div>
