<% messages ||= @messages %>
<% messages.each do |message| %>
  <div class="chat-message <%= (message.sent_from == current_user) ? 'sent' : 'received' %>" data-read-id="<%= message.id %>">

    <div class="timestamp"><%= timeago(message.created_at) %></div>
    <div class="from-name"><%= message.sender_name %></div>
    <div class="message-body">
      <% message.body.split(/\n/).each do |line| %>
        <%= line %> <br>
      <% end %>
      <% if message.error? %>
        <div class="text-error-message">Error: <%= message.error_message %></div>
      <% end %>
    </div>

  </div>
<% end %>
