<div class="central-container">
  <% if current_user.instructor? %>
    <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <% end %>
  <%= link_to "Mark all messages as Read", mark_messages_as_read_chat_rooms_path, class: 'pkut-btn', method: :post %>

  <div class="text-center">
    <%= paginate @chat_rooms %>
  </div>

  <div class="chat-rooms-container" data-current-user-id="<%= current_user.id %>">
    <%= render partial: 'index', locals: {chat_rooms: @chat_rooms, session_user: current_user} %>
  </div>

  <div class="text-center">
    <%= paginate @chat_rooms %>
  </div>

</div>
