<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <% if current_user.instructor? %>
    <% @chat_room.users.each do |user| %>
      <%= link_to "#{user.id} - #{user.email}", admin_users_path(user) %> <br>
    <% end %>
  <% end %>

  <%= form_for [@chat_room, @chat_room.messages.new], html: { class: "messages-form" } do |f| %>
    <% support_user = @chat_room.support_user %>
    <div class="message-form" data-messages-url="<%= chat_room_messages_path(@chat_room) %>">
      <div class="messages-container" data-room-id="<%= @chat_room.id %>" data-current-user-id="<%= current_user.try(:id) || 'x' %>">
        <%# JS renders messages here  %>
        <% if support_user.present? && support_user.try(:sms_receivable?) == false %>
          <div class="chat-message important-alert-message">
            <div class="message-body">
              <strong>BLACKLISTED</strong> <br>
              User will not receive any messages sent.
            </div>
          </div>
        <% end %>
      </div>

      <div class="message-form-wrapper">
        <%= f.text_area :body, value: params[:body], class: "new-message-field" %>
        <%= f.button(type: "submit", class: "send-message-btn") do %>
          <i class="fa fa-paper-plane"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
