<h2>Thank you for your purchase from ParkourUtah!</h2>
<br/>
<% if @is_gift_card %>
  <p>Your gift card has been purchased! You should be receiving an email shortly containing the "Redemption Code".</p>
  <p>Forward that email to the receiver of your Gift Card, or simply provide to them the "Redemption Code" with the instructions listed.</p>
  <br>
<% end %>
<% if @is_physical %>
  <p>Your order will be processed shortly and we will get your items to you as soon as possible!</p>
  <br>
<% end %>
<% if @adds_credits %>
  <p>Your credits have already been added to your account and your athletes are ready to attend class!</p>
  <br>
<% end %>
<% if @is_subscription %>
  <h3 style="color: red">You aren't done yet!</h3>
  <p>Before you can use the subscription, you must assign it to your Athlete.</p>
  <p>To do this, go to your <a href="<%= edit_user_registration_url %>">Account Page</a>. At the top of the page, click the button "Assign subscriptions to students!".</p>
  <p>Finally, click the star next to the Athlete who will be using the subscription.</p>
  <p>Done! Your student will now be able to attend class without charging credits from your account.</p>
  <br>
<% end %>
<% if @user && @is_physical %>
  <br/>
  <br/>
  <h3>Shipping information</h3>
  <p><%= @address.line1 %></p>
  <p><%= @address.line2 %></p>
  <p><%= @address.city %></p>
  <p><%= @address.state %></p>
  <p><%= @address.zip %></p>
  <br/>
  <br/>
<% end %>
<h3>Order information</h3>
<% if @user.present? %>
  <p><%= @user.email %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Amount
      </th>
      <th>
        Cost
      </th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.order_name %></td>
        <td><%= cart_item.amount %></td>
        <td><%= number_to_currency(cart_item.item.cost_in_dollars) %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Sub total</strong></td>
      <td></td>
      <td><%= number_to_currency(@cart.price_in_dollars) %></td>
    </tr>
    <tr>
      <td><strong>Tax</strong></td>
      <td></td>
      <td><%= number_to_currency(@cart.taxes_in_dollars) %></td>
    </tr>
    <% if @is_physical %>
      <tr>
        <td><strong>Shipping</strong></td>
        <td></td>
        <td><%= number_to_currency(@cart.shipping_in_dollars) %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td><%= number_to_currency(@cart.total_in_dollars) %></td>
    </tr>
  </tbody>
</table>
