<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <% @summary.days.each do |day| %>
      <h3><%= day.date.strftime("%A (%d/%m/%Y) Totals:").upcase %></h3>
      <% day.classes.each do |day_class| %>
        <% cancelled = day_class.class_cancelled %>
        <% schedule = EventSchedule.find(day_class.schedule_id) %>
        <p style="<%= 'color: red' if cancelled %>">
          <strong><%= schedule.title %> - <%= schedule.city %> - <%= schedule.time_of_day %></strong> - Instructor: <strong><%= day_class.instructors.map(&:name).join(", ") %></strong>
          <% if cancelled %>
            <br>Cancelled
          <% end %>
          <% students = day_class.instructors.map(&:students).flatten %>
          <% if students.none? %>
            <br>---- None
          <% else %>
            <% students.each do |student| %>
              <br>---- <%= student.name %> - <%= student.payment_type %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    <% end %>

    <h4>Totals</h4>
    <% @summary.instructors.each do |instructor| %>
      <%= instructor.name %> - $<%= instructor.total_payment %><br>
    <% end %>
    <% profit = @summary.profit %>
    <br><strong>Total Earnings: $<%= @summary.total_earned %></strong>
    <br><strong>Total Paid to Instructors: $<%= @summary.total_payment %></strong>
    <br><strong>Profit: <span style="color: <%= profit >= 0 ? 'green' : 'red' %>">$<%= @summary.profit %></span></strong>

  </body>
</html>
