<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% @summary.each do |date| %>
      <h2>Summary for <%= date.first %></h2>
      <% date[1].each do |classes| %>
        <h4>-Class: <%= classes.first %></h4>
        <% classes[1].each do |instructor| %>
          --Instructor: <strong><%= instructor.first %></strong> - pay: $<%= instructor[1]["pay"] %><br/>
          <% instructor[1].first[1].each do |athlete| %>
          ---- <%= athlete %><br/>
          <% end %>
        <% end %>
      <% end %>
      <br/><br/>
    <% end %>
    <h3>Totals</h3>
    <% @payment.each do |instructor, payment| %>
      <%= instructor %> - $<%= payment %><br/>
    <% end %>
  </body>
</html>
