<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <h1><%= @event_schedule.title %></h1>
  <h3>Attendances</h3>
  <% @attendances_by_date.sort_by {|k,v|-k.to_i}.each do |date, attendances| %>
    <h3><%= date.strftime("%-d %b, %Y") %></h3>
    <ul>
      <% attendances.each do |attendance| %>
        <% athlete = attendance.athlete %>
        <% next unless athlete.present? %>
        <% guardian = athlete.user %>
        <li style="margin-top: 10px;">
          <strong>Instructor:</strong> <%= link_to attendance.instructor.full_name, instructor_path(attendance.instructor) %><br>
          <strong>Student:</strong> <%= link_to attendance.athlete.full_name, admin_user_path(attendance.athlete.user) %><br>
          <strong>Guardian:</strong> <%= link_to attendance.athlete.user.email, admin_user_path(attendance.athlete.user) %> <br>
          <%= link_to "Click Here", attendance_path(attendance), data: { confirm: "Are you sure you want to delete this attendance? This cannot be undone." }, class: "danger", method: :delete %> to delete this attendance.
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
