<div class="row">
  <div class="col-sm-6">
    <h2><%= current_user.email %></h2>
  </div>
  <div class="col-sm-6 text-right">
    <h2>Credits: <span class="pkut-header"><%= current_user.credits %><span></h2>
  </div>
</div>
<div class="central-container form-offset">

  <div class="row internal-center">
    <div class="actions internal-center">
      <a alt="..." class="pkut-btn text-center" data-toggle="modal" data-target="#notification_modal">Edit Notification Settings</a><br/>
    </div>
    <%= form_tag "/user/notifications/update" do %>
      <div class="modal fade" id="notification_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="standard-modal modal-dialog central-container">
          <button type="button" class="close-btn" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
          <h1 class="pkut-header">Notifications</h1>
          <p>Receive Notifications for:</p>
          <!-- <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
          </div> -->
          <!-- <div class="pkut-checkbox">
            <%#= check_box_tag "notify[]", '', true %>
            <%#= label_tag "notify[]", '' %>
          </div> -->
          <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
              Email
            </div>
            <div class="col-xs-4">
              Text
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              Waiver Expiring
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[email_waiver_expiring]", '', current_user.notifications.email_waiver_expiring? %>
                <%= label_tag "notify[email_waiver_expiring]", '' %>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[text_waiver_expiring]", '', current_user.notifications.text_waiver_expiring? %>
                <%= label_tag "notify[text_waiver_expiring]", '' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              Class Reminders
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[email_class_reminder]", '', current_user.notifications.email_class_reminder? %>
                <%= label_tag "notify[email_class_reminder]", '' %>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[text_class_reminder]", '', current_user.notifications.text_class_reminder? %>
                <%= label_tag "notify[text_class_reminder]", '' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              Low on credits
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[email_low_credits]", '', current_user.notifications.email_low_credits? %>
                <%= label_tag "notify[email_low_credits]", '' %>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pkut-checkbox">
                <%= check_box_tag "notify[text_low_credits]", '', current_user.notifications.text_low_credits? %>
                <%= label_tag "notify[text_low_credits]", '' %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <p>Classes subscribed to:</p>
          </div>
          <%= submit_tag "Update", class: 'pkut-btn' %>
        </div>
      </div>
    <% end %>
  </div>
  <br/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-xs-3">
        <br/><%= f.label :email, 'Email Address:' %>
      </div>
      <div class="col-xs-9">
        <%= f.email_field :email, class: 'pkut-textbox' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <br/><%= f.label :phone_number, 'Phone Number:' %>
      </div>
      <div class="col-xs-9">
        <%= f.telephone_field :phone_number, autocomplete: "off", class: 'pkut-textbox formatPhoneNumber' %>
      </div>
    </div>
    <br/>

    <%= fields_for :emergency_contacts, resource.emergency_contacts.last do |ff| %>
      <h5>Emergency Contact</h5>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= ff.label :name, 'Name:' %>
        </div>
        <div class="col-xs-9">
          <%= ff.text_field :name, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= ff.label :number, 'Phone Number:' %>
        </div>
        <div class="col-xs-9">
          <%= ff.telephone_field :number, class: 'pkut-textbox formatPhoneNumber' %>
        </div>
      </div>
    <% end %>
    <br/>

    <%= fields_for :address, resource.address do |fff| %>
      <h5>Address:</h5>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= fff.label :line1, 'Line 1:' %>
        </div>
        <div class="col-xs-9">
          <%= fff.text_field :line1, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= fff.label :line2, 'Line 2:' %>
        </div>
        <div class="col-xs-9">
          <%= fff.text_field :line2, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= fff.label :city, 'City:' %>
        </div>
        <div class="col-xs-9">
          <%= fff.text_field :city, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= fff.label :state, 'State:' %>
        </div>
        <div class="col-xs-9">
          <%= fff.text_field :state, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <br/><%= fff.label :zip, 'Zip:' %>
        </div>
        <div class="col-xs-9">
          <%= fff.text_field :zip, class: 'pkut-textbox' %>
        </div>
      </div>
    <% end %>
    <br/>

    <h5>Change Password:</h5>
    <div class="row">
      <div class="col-xs-3">
        <br/><%= f.label :password, "New Password:" %>
      </div>
      <div class="col-xs-9">
        <%= f.password_field :password, autocomplete: "off", class: 'pkut-textbox' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <br/><%= f.label :password_confirmation, "Confirm Password:" %><br />
      </div>
      <div class="col-xs-9">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'pkut-textbox' %>
      </div>
    </div>

    <div class="actions internal-center">
      <a alt="..." class="pkut-btn" data-toggle="modal" data-target="#confirm_modal">Update</a><br/>
    </div>
    <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="central-container">
        <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
        <div class="error-container center-block">
          <h1 class="pkut-header">Confirm</h1>
          <p>We need your current password to update your changes.</p>
          <%= f.password_field :current_password, autocomplete: "off", class: 'pkut-textbox' %>
          <%= f.submit "Update", class: 'pkut-btn' %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-xs-3">
      <h5>Athletes:</h5>
    </div>
    <div class="col-xs-9">
      <% current_user.athletes_by_waiver_expiration.each_with_index do |athlete, pos| %>
        <div class="row">
          <h4><%= athlete.full_name %></h4>
          <% if athlete.signed_waiver? && athlete.waiver.is_active? %>
            <% if athlete.waiver.expires_soon? %>
              <%= link_to waivers_path(athlete.id), class: 'fancy-link' do  %>
                <span class="pkut-header title">Waiver active until <%= athlete.waiver.exp_date.strftime('%B %-d, %Y') %></span>
                Update Waiver
              <% end %>
              <% else %>
                Waiver active until <%= athlete.waiver.exp_date.strftime('%B %-d, %Y') %>
            <% end %>
          <% else %>
            <%= link_to "Must have waiver signed before attending class.", waivers_path, class: 'fancy-link' %>
          <% end %>
          </br>
          <%= link_to "Forgot PIN / ID? Click here to reset.", send_reset_pin_or_id_mail_path(athlete.id), method: "post" %>
        </div>
      <% end %>
      <br/>
        <%= link_to "Add Athletes", waivers_path, class: 'pkut-btn' %>
    </div>
  </div>
</div>
