<% token = resource.get_AuthNet_token %>

<div class="fancy-box">
  <% if current_user.payment_id %>
    <% unless current_user.shipping_id %>
      <h3>Account setup progress: 1.5/5</h3>
      <h3>Oops! We need your shipping information too.</h3>
      <h3>Otherwise we won't know how to give you your stuff!</h3>
    <% if ENV["RAILS_ENV"] == "production" %>
      <form method="post" action="https://secure.authorize.net/profile/manage">
    <% else %>
      <form method="post" action="https://test.authorize.net/profile/manage">
    <% end %>
        <input class="authnet-token" type="hidden" name="token"
        value="<%= token %>"/>
        <h3><input class="authnet-btn fancy-btn money-btn" type="submit" value="Manage Payment Info"/></h3>
      </form>
    <% else %>
      <% if current_user.dependents.count == 0 %>
        <h3>Account setup progress: 2/5</h3>
        <h3>Great! Now you can add a new athlete.</h3>
        <h3><%= link_to "Add an Athlete!", new_athlete_path, class: 'fancy-btn' %></h3>
      <% else %>
        <% unsigned = current_user.dependents.select {|d| !(d.signed_waiver?) } %>
        <% if unsigned.count > 0 %>
          <% unsigned.each do |athlete| %>
            <% if current_user.dependents.count == 1 %>
              <h3>Account setup progress: 3/5</h3>
              <h3>All athletes need a waiver signed.</h3>
              <h3>Please be sure to read through all parts of the waiver.</h3>
            <% end %>
            <h3><%= link_to "Sign waiver for #{athlete.full_name}", sign_waiver_path(athlete.id), class: 'fancy-btn' %></h3>
            <br/>
          <% end %>
        <% else %>
          <% unless current_user.phone_number %>
            <h3>Account setup progress: 4/5</h3>
            <h3>Your account is almost ready to go!</h3>
            <h3>Lastly, we just need your mobile phone number</h3>
            <h3>(Only used for sending you reminders about classes that you may opt-in to receiving)</h3>
            <%= form_tag "/update", method: "post" do %>
              <%= text_field_tag :phone_number, '', autocomplete: "off", class: 'fancy-textbox restrictNumeric formatPhoneNumber' %>
              <h3><%= submit_tag "Update", class: 'fancy-btn' %></h3>
            <% end %>
          <% end %>
        <% end %>
        <h3>You currently have <%= current_user.credits %> credits.</h3>
        <h3><%= link_to "Add Credits", store_path, class: 'fancy-btn' %></h3>
      <% end %>
    <% end %>
  <% else %>
    <h3>You've successfully signed up!</h3>
    <h3>Thanks for joining us at PARKOURUTAH!</h3>
    <h3>Account setup progress: 1/5</h3>
  <% if ENV["RAILS_ENV"] == "production" %>
    <form method="post" action="https://secure.authorize.net/profile/manage">
  <% else %>
    <form method="post" action="https://test.authorize.net/profile/manage">
  <% end %>
      <input class="authnet-token" type="hidden" name="token"
      value="<%= token %>"/>
      <h3><input class="authnet-btn fancy-btn money-btn" type="submit" value="Manage Payment Info"/></h3>
    </form>
  <% end %>
</div>

<div class="fancy-box central-container form-offset">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'fancy-textbox' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :phone_number %> <i><br/>Only used to update you on classes that you have subscribed to.</i><br />
      <%= f.text_field :phone_number, autocomplete: "off", class: 'fancy-textbox restrictNumeric formatPhoneNumber' %>
    </div>

    <div class="field">
      <%= f.label :password %> <i><br/>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'fancy-textbox' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'fancy-textbox' %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i><br/>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'fancy-textbox' %>
    </div>

    <div class="actions">
      <h3><%= f.submit "Update", class: 'fancy-btn' %></h3>
    </div>
  <% end %>
  <% if ENV["RAILS_ENV"] == "production" %>
    <form method="post" action="https://secure.authorize.net/profile/manage">
  <% else %>
    <form method="post" action="https://test.authorize.net/profile/manage">
  <% end %>
  <input class="authnet-token" type="hidden" name="token"
  value="<%= token %>"/>
  <h4><input class="authnet-btn fancy-btn money-btn" type="submit" value="Manage Payment Info"/></h4>
  </form>
  <div class="waivers">
    <% if current_user.payment_id %>
      <h3>Waivers:</h3>
      <% current_user.dependents.each_with_index do |athlete, pos| %>
        <h3><%= athlete.full_name %></h3>
        <% if athlete.signed_waiver? %>
          Waiver valid until <%= athlete.waiver.exp_date %><br/>
          Athlete ID: <%= athlete.padded_pin %><br/>
          Athlete PIN: ****<br/>
          <a alt="..." data-toggle="modal" data-target="#modal_<%= pos %>" class="fancy-link">Reset Pin</a><br/><br/>
          <%= render partial: 'pin_change_modal', locals: {athlete: athlete, pos: pos} %>
        <% else %>
          <%= link_to "Must have waiver signed before attending class.", sign_waiver_path(athlete.id), class: 'fancy-link' %></br>
        <% end %>
      <% end %>
      <br/><h5><%= link_to "Add a new Athlete", new_athlete_path, class: 'fancy-link' %></h5>
    <% else %>
      <h2>We do not store any of your sensitive information, so you will be redirected to a third party.</h2>
      <h3>You must first fill out your payment information before creating Athlete Profiles.</h3>
    <% end %>
  </div>

  <%= link_to "Back", :back, class: 'fancy-link' %>
</div>
