<div class="row">
  <div class="col-sm-6">
    <h2 class="hidden-xs"><%= current_user.email %></h2>
    <h4 class="visible-xs"><%= current_user.email %></h4>
  </div>
  <div class="col-sm-6 text-right">
    <h2>Credits: <span class="pkut-header"><%= current_user.credits %><span></h2>
  </div>
</div>
<div class="central-container form-offset">

  <div class="row internal-center">
    <% if current_user.non_verified_athletes.count > 0 %>
      <div class="pkut-btn big-btn orange-btn-glowing forceOpen" data-toggle="modal" data-target="#verify_athletes">
        Click here to receive 2 trial classes!
      </div>
      <%= render partial: 'dependents/verify_athletes' %>
    <% end %>
    <% if current_user.unassigned_subscriptions_count > 0 %>
      <div class="pkut-btn big-btn forceOpen" data-toggle="modal" data-target="#assign_subscriptions">
        Assign subscriptions to students!
      </div>
    <% end %>
    <%= render partial: 'dependents/assign_subscriptions' %>
    <a class="pkut-btn text-center forceOpen" data-toggle="modal" data-target="#notification_modal">Edit Notifications</a><br/>
    <%= render partial: 'devise/registrations/notifications' %>
    <%
      has_subscriptions = current_user.subscribed_athletes.any? ||
      current_user.athletes_with_unlimited_access.count > 0 ||
      current_user.class_subscriptions.any?
    %>
    <% if has_subscriptions %>
      <br/>
      <a class="pkut-btn text-center forceOpen" data-toggle="modal" data-target="#subscription_modal">Manage Subscriptions</a><br/>
      <%= render partial: 'devise/registrations/subscriptions' %>
    <% end %>
  </div>
  <br/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-sm-3">
        <br/><%= f.label :email, 'Email Address:' %>
      </div>
      <div class="col-sm-9">
        <%= f.email_field :email, class: 'pkut-textbox customRequired' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <br/><%= f.label :phone_number, 'Phone Number:' %>
      </div>
      <div class="col-sm-9">
        <%= f.telephone_field :phone_number, autocomplete: "off", class: 'pkut-textbox formatPhoneNumber customRequired' %>
      </div>
    </div>
    <br/>

    <%= fields_for :emergency_contacts, resource.emergency_contacts.last do |ff| %>
      <h5>Emergency Contact</h5>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= ff.label :name, 'Name:' %>
        </div>
        <div class="col-sm-9">
          <%= ff.text_field :name, class: 'pkut-textbox customRequired' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= ff.label :number, 'Phone Number:' %>
        </div>
        <div class="col-sm-9">
          <%= ff.telephone_field :number, class: 'pkut-textbox formatPhoneNumber customRequired' %>
        </div>
      </div>
    <% end %>
    <br/>

    <%= fields_for :address, resource.address do |fff| %>
      <h5>Address:</h5>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= fff.label :line1, 'Line 1:' %>
        </div>
        <div class="col-sm-9">
          <%= fff.text_field :line1, class: 'pkut-textbox customRequired' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= fff.label :line2, 'Line 2:' %>
        </div>
        <div class="col-sm-9">
          <%= fff.text_field :line2, class: 'pkut-textbox' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= fff.label :city, 'City:' %>
        </div>
        <div class="col-sm-9">
          <%= fff.text_field :city, class: 'pkut-textbox customRequired' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= fff.label :state, 'State:' %>
        </div>
        <div class="col-sm-9">
          <%= fff.text_field :state, class: 'pkut-textbox customRequired' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <br/><%= fff.label :zip, 'Zip:' %>
        </div>
        <div class="col-sm-9">
          <%= fff.text_field :zip, class: 'pkut-textbox customRequired' %>
        </div>
      </div>
    <% end %>
    <br/>

    <h5>Change Password:</h5>
    <div class="row">
      <div class="col-sm-3">
        <br/><%= f.label :password, "New Password:" %>
      </div>
      <div class="col-sm-9">
        <%= f.password_field :password, autocomplete: "off", class: 'pkut-textbox' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <br/><%= f.label :password_confirmation, "Confirm Password:" %><br />
      </div>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'pkut-textbox' %>
      </div>
    </div>

    <div class="actions internal-center">
      <a alt="..." class="pkut-btn forceOpen" data-toggle="modal" data-target="#confirm_modal">Update</a><br/>
    </div>
    <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="central-container">
        <div class="error-container center-block">
          <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
          <h1 class="pkut-header">Confirm</h1>
          <p>We need your current password to update your changes.</p>
          <%= f.password_field :current_password, autocomplete: "off", class: 'pkut-textbox' %>
          <%= f.submit "Update", class: 'pkut-btn' %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <h5>Athletes:</h5>
    </div>
    <div class="col-sm-9">
      <% current_user.athletes_by_waiver_expiration.each_with_index do |athlete, pos| %>
        <div class="row">
          <h4><%= athlete.full_name %> - ID:<%= athlete.athlete_id %></h4>
          <% if athlete.trials.count > 0 %>
            <h4 style='color:yellow;'>Trial Classes remaining: <%= athlete.trials.count %></h4>
          <% end %>
          <% if athlete.has_unlimited_access? %>
            <p>Has unlimited classes until: <%= athlete.subscription.expires_at.strftime('%B %e, %Y') %></p>
          <% end %>
          <a alt="..." class="pkut-header forceOpen" data-toggle="modal" data-target="#edit<%= athlete.id %>">Delete Athlete</a><br/>
          <div class="modal fade" id="edit<%= athlete.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="central-container">
              <div class="error-container center-block">
                <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
                <h3 class="pkut-header"><%= athlete.full_name %></h3>
                  <p>This will permanently delete this athlete. Are you sure? This action cannot be undone.<p>
                  <%= link_to "Delete", destroy_athlete_path(athlete.id), class: 'pkut-btn', method: :delete %>
              </div>
            </div>
          </div>
          <% if athlete.signed_waiver? && athlete.waiver.is_active? %>
            <% if athlete.waiver.expires_soon? %>
              <%= link_to waivers_path(athlete.id) do  %>
                <span class="pkut-header title">Waiver active until <%= athlete.waiver.exp_date.strftime('%B %-d, %Y') %></span>
                Update Waiver
              <% end %>
              <% else %>
                Waiver active until <%= athlete.waiver.exp_date.strftime('%B %-d, %Y') %>
            <% end %>
          <% else %>
            <%= link_to "Must have waiver signed before attending class.", waivers_path, class: 'fancy-link' %>
          <% end %>
          </br>
          <a alt="..." data-toggle="modal" data-target="#athlete-<%= athlete.id %>">Forgot PIN? Click here to reset.</a><br/>
        </div>
      <% end %>
      <br/>
        <%= link_to "Add Athletes", waivers_path, class: 'pkut-btn' %>
    </div>
  </div>
</div>
<% current_user.athletes.each do |athlete| %>
  <div class="modal fade" id="athlete-<%= athlete.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="central-container">
      <div class="error-container center-block">
        <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
        <h2 class="pkut-header">Reset PIN</h2>
        <p>Enter the new desired pin for</p>
        <strong><%= athlete.full_name %></strong>
        <%= form_tag reset_pin_path(athlete) do %>
          <%= telephone_field_tag "athlete_pin", '', placeholder: 'New Pin', class: 'pkut-textbox sm-textbox formatPin ', autocomplete: 'off', style: 'padding-top: 0;' %>
          <%= telephone_field_tag "pin_confirmation", '', placeholder: 'Confirm', class: 'pkut-textbox sm-textbox formatPin ', autocomplete: 'off', style: 'padding-top: 0;' %>
          <p>Please enter your current password below to verify:</p>
          <%= password_field_tag :password, '', autocomplete: 'off', class: 'pkut-textbox' %>
          <%= submit_tag 'Submit', class: 'pkut-btn' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
