<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @summary.each do |date| %>
      <h2>Summary for <%= date.first %></h2>
      <% date[1].each do |classes| %>
        <h4>-Class: <%= classes.first %></h4>
        <% classes[1].each do |instructor| %>
          --Instructor: <strong><%= instructor.first %></strong> - pay: $<%= instructor[1]["pay"] %><br/>
          <% instructor[1].first[1].each do |athlete| %>
          ---- <%= athlete %><br/>
          <% end %>
        <% end %>
      <% end %>
      <br/><br/>
    <% end %>
    <h3>Totals</h3>
    <% @payment.each do |instructor, payment| %>
      <%= instructor %> - $<%= payment %><br/>
    <% end %>
  </body>
</html>
<!--
[{"Tuesday March 17, 2015"=>
   {"Fundamentals - Orem -  4:30PM"=>
     {"Ryan Sannar"=>{"students"=>["Sam Smith - Credits"], "pay"=>15}},
    "Fundamentals - Saratoga Springs -  4:30PM"=>
     {"Justin Spencer"=>{"students"=>["Rocco Nicholls - Credits"], "pay"=>15},
      "Zeter Raimondo"=>
       {"students"=>["Jack Robinson - Credits", "Sam Smith - Credits"], "pay"=>15}},
    "Fundamentals - Saratoga Springs -  5:30PM"=>
     {"Jadon Erwin"=>{"students"=>["Jack Robinson - Credits"], "pay"=>15},
      "Justin Spencer"=>{"students"=>["Ryker Boy - Credits"], "pay"=>15}}},
  "Monday March 16, 2015"=>
   {"Fundamentals - Draper -  4:30PM"=>
     {"Marcos Jones"=>{"students"=>["Nick Vincent - Credits"], "pay"=>15},
      "Tony Mungiguerra"=>{"students"=>["Rocco Nicholls - Credits"], "pay"=>15},
      "Aaron Cornia"=>{"students"=>["Kim Krok - Credits"], "pay"=>15},
      "Jadon Erwin"=>{"students"=>["Nick Vincent - Credits"], "pay"=>15},
      "Stephen Lanteri"=>{"students"=>["Jack Robinson - Cash"], "pay"=>15},
      "Rocco Nicholls"=>{"students"=>["Sam Smith - Credits"], "pay"=>15},
      "Brianna Midas"=>{"students"=>["Ryker Boy - Cash"], "pay"=>15}},
    "Fundamentals - South Jordan -  5:30PM"=>
     {"Marcos Jones"=>{"students"=>["Jack Robinson - Credits"], "pay"=>15},
      "Stephen Lanteri"=>
       {"students"=>
         ["Rocco Nicholls - Credits",
          "Kim Krok - Credits",
          "Nick Vincent - Credits",
          "Jack Robinson - Credits",
          "Sam Smith - Credits",
          "Ryker Boy - Credits"],
        "pay"=>18}}},
  "Sunday March 15, 2015"=>
   {"Advanced - Sandy -  7:30PM"=>
     {"Rocco Nicholls"=>{"students"=>["Rocco Nicholls - Credits"], "pay"=>15},
      "Ryan Sannar"=>
       {"students"=>["Nick Vincent - Credits", "Kim Krok - Cash"], "pay"=>15},
      "Stephen Lanteri"=>
       {"students"=>
         ["Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash",
          "Rocco Nicholls - Cash"],
        "pay"=>33}}},
  "Saturday March 14, 2015"=>
   {"Fundamentals - Ogden - 11:00AM"=>{}, "Fundamentals - Springville - 11:00AM"=>{}},
  "Thursday March 12, 2015"=>
   {"Fundamentals - Provo -  4:30PM"=>{},
    "Fundamentals - Salt Lake City -  4:30PM"=>{},
    "Fundamentals - Herriman -  5:30PM"=>{}},
  "Wednesday March 11, 2015"=>
   {"Fundamentals - Sandy -  4:30PM"=>{},
    "Fundamentals - Vernal -  4:30PM"=>{},
    "Fundamentals - Salt Lake City -  5:30PM"=>{}}},



 {"Ryan Sannar"=>30,
  "Justin Spencer"=>30,
  "Zeter Raimondo"=>15,
  "Jadon Erwin"=>30,
  "Marcos Jones"=>30,
  "Tony Mungiguerra"=>15,
  "Aaron Cornia"=>15,
  "Stephen Lanteri"=>66,
  "Rocco Nicholls"=>30,
  "Brianna Midas"=>15}]
 -->
