<div class="content-box">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <div class="mkdown-preview-container">
    <div class="mkdown-preview-row">
      <div class="write-email-container" style="padding-right: 5px;">
        <%= form_tag send_batch_emailer_admin_path do %>
          <div style="max-width: 300px; font-size: 10px;">
            Leave recipients blank to send to ALL users. Add comma-separated emails to send a 'personal' email to those users. If the email is 'personal', it will send to that user regardless of their Notification preferences.
          </div>
          <%= label_tag :recipients %> <br>
          <%= text_field_tag :recipients, @email.recipients %> <br>
          <%= label_tag :email_type %> <br>
          <%= select_tag :email_type, options_for_select(["class_reminder", "low_credits", "waiver_expiring", "class_cancelled", "newsletter"], @email.email_type || "newsletter") %> <br>
          <%= label_tag :subject %> <br>
          <%= text_field_tag :subject, @email.subject %> <br>
          <%= label_tag :body %> <br>
          <%= text_area_tag :body, @email.body, rows: 10, style: "width: 600px; font-family: 'monospace';", class: 'pkut-textarea js-markdown' %> <br>
          <%= submit_tag 'Send!', class: 'pkut-btn' %>
        <% end %>
        <div class="preview-container">
          <div class="text-container"><span class="js-preview">K</span></div>
          <div class="controls">
            <input type="number" class="js-mm-picker" name="size" value="16" data-default="16">
            <input class="jscolor js-mm-picker" name="color" value="000000" data-default="000000">
          </div>
          <div class="text-submit">
            <a href="" class="js-append" data-append="text">Add Text Style</a>
          </div>
        </div>
        <div class="shortcuts-container">
          <h4>Shortcuts:</h4>
          <ul>
            <li><a href="" class="js-append" data-append="center">Center Text</a></li>
            <li><a href="" class="js-append" data-append="link">Add Link</a></li>
            <li><a href="" class="js-append" data-append="html">Add raw HTML</a></li>
          </ul>
        </div>
        <a href="" class="reload-mailer pkut-btn">Preview frozen? Reload!</a>
      </div>
      <div class="mkdown-preview-container">
        <iframe id="mkdown-preview" width="632" height="1000" style="background: white;" data-load-url="<%= email_body_admin_path %>"></iframe>
      </div>
    </div>
  </div>
</div>
