<div class="central-container form-offset">
  <h2>Dashboard</h2>
  <h2>Begin a Class</h2>
  <% @classes.each do |event| %>
    <%= link_to "#{event.date.strftime('%l:%M')} #{event.title}", fast_pass_id_class_handler_path(event.id || "new",  event_schedule_id: event.event_schedule, date: event.date), class: 'pkut-btn' %> <br>
  <% end %>
  <%= link_to "Private Class", fast_pass_id_class_handler_path(1), class: 'pkut-btn' %> <br>
  <%= link_to "Testing Session", fast_pass_id_class_handler_path(83788378), class: 'pkut-btn' %> <br>
  <h2>Admin Abilities</h2>
  <%= link_to "Users", admin_users_path, class: 'pkut-btn' %> <br>
  <% if current_user.is_admin? %>
    <%= link_to "Send Text Message", batch_text_message_admin_path, class: 'pkut-btn' %> <br>
    <%= link_to "Send Batch Email", batch_email_admin_path, class: 'pkut-btn' %> <br>
    <%= link_to "Summary Generator", summary_admin_path, class: 'pkut-btn' %> <br>
    <%= link_to "Purchase History", purchase_history_admin_path, class: 'pkut-btn' %> <br>
    <%= link_to "Redemption Keys", redemption_keys_path, class: 'pkut-btn' %> <br>
    <%= link_to "Plans", plan_items_path, class: 'pkut-btn' %> <br>
    <%= link_to "Items", line_items_path, class: 'pkut-btn' %> <br>
    <%= link_to "Events", event_schedules_path, class: 'pkut-btn' %> <br>
    <%= link_to "Attendances", attendances_path, class: 'pkut-btn' %> <br>
    <%= link_to "Announcements", announcements_path, class: 'pkut-btn' %> <br>
    <%= link_to "Instructors", instructors_path, class: 'pkut-btn' %> <br>
    <%= link_to "Contact Requests", contact_requests_path, class: 'pkut-btn' %> <br>
    <%= link_to "Chat Rooms", chat_rooms_path, class: 'pkut-btn' %> <br>
    <%= link_to "Log Tracking", log_trackers_path, class: 'pkut-btn' %> <br>
  <% end %>
</div>
