<% date ||= @date %>
<% day ||= @day %>
<div class="a-single-date <%= date.to_date == day.to_date ? 'date' : '' %>" data-date="<%= day.to_date %>">
  <h5 class="text-center"><%= day.strftime('%A %B %d, %Y') %></h5>
  <br/>
  <div class="mobile-events-container">
    <% Event.by_date(day).each do |event| %>
      <div class="mobile-event-container">
        <span class="mobile-event event-color color-<%= Event.color_of(event.city) %>"><%= event.class_name.capitalize %></span>
      </div>
    <% end %>
  </div>
</div>
