<%
  week ||= @week
  months = [week.first, week.last].map { |date| date.strftime('%B %Y') }
  days_per_month = months.each_with_object(Hash.new(0)) { |month_year, counts| counts[month_year] += 1 }
  display_month = week.cover?(Time.zone.now) ? Time.zone.now.strftime('%B %Y') : days_per_month.max_by{ |k,v| v }[0]
  events_for_week = EventSchedule.events_in_date_range(week.first, week.last).sort_by(&:date).group_by { |event| event.date.strftime('%Y-%m-%d') }
%>
<% (week.first.to_date..week.last.to_date).each do |day| %>
  <%
    events = events_for_week[day.strftime('%Y-%m-%d')] || []
    current_month = day.strftime('%B %Y')
    to_display_today = day.to_date == Time.now.to_date ? 'today' : ''
    to_display_month = display_month == current_month ? '' : 'not_month'
  %>

  <div class="make-td <%= to_display_today %> <%= to_display_month %> day-container" data-date="<%= day.strftime('%m-%d-%Y') %>" data-month="<%= display_month %>">
    <div class="calendar-date-link date"><%= day.day %></div>
    <% events.each do |event| %>

      <% next if event.cancelled? && !current_user.try(:is_instructor?) %>
      <% next unless @selected_classes.include?(event.title.parameterize) && @selected_cities.include?(event.city.parameterize) %>

      <% event_params = event.id || 'new', {event_schedule_id: event.event_schedule_id, date: day.strftime('%Y-%m-%d')} %>
      <li class="calendar-event event-detail-btn" style="<%= event.css_style %>" data-event-url="<%= detail_event_path(*event_params) %>">
        <span class="hidden-xs">&nbsp;<%= "[CANCELLED]<br>".html_safe if event.cancelled? %><%= event.date.strftime('%l:%M %p') %> <br> <%= event.title %></span>
        <span class="visible-xs mobile-name"><%= event.title %></span>
      </li>

    <% end %>
  </div>
<% end %>
