<% date ||= @date %>
<% week ||= @week %>
<div class="row">
  <div class="week-container">
    <table class="calendar table">
      <tr>
        <% %w(Mon Tues Wed Thurs Fri Sat).each do |day_of_week| %>
          <th><%= day_of_week %></th>
        <% end %>
      </tr>
      <tr>
        <% week.each do |day| %>
          <td class="<%= 'today' if day.to_date == DateTime.current.to_date %>">
            <div class="calendar-date-link date"><%= day.day %></div>
            <% Event.by_date(day).each do |event| %>
              <% if event.class_name == "special" || (@selected_classes.include?(event.class_name) && @selected_cities.include?(event.city)) %>
                <li class="event-color calendar-event color-<%= event.color %> clickme forceOpen" onclick="" alt="..." data-toggle="modal" data-target="#city<%= event.id %>_modal">
                  <span class="hidden-xs">&nbsp;<%= event.class_name.capitalize %></span>
                  <span class="visible-xs mobile-name"><%= event.class_name.capitalize %></span>
                </li>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
