<%
  week ||= @week
  months = week.map { |date| date.strftime('%B %Y') }
  counted_months = months.each_with_object(Hash.new(0)) { |word, counts| counts[word] += 1 }

  display_month = counted_months.max_by{ |k,v| v }[0]
%>

<% week.each do |day| %>
  <% current_month = day.strftime('%B %Y') %>
  <% to_display_today = day.to_date == Time.now.to_date ? 'today' : '' %>
  <% to_display_month = display_month == current_month ? '' : 'not_month' %>

  <div class="make-td <%= to_display_today %> <%= to_display_month %> day-container" data-date="<%= day.strftime('%m-%d-%Y') %>" data-month="<%= display_month %>">
    <div class="calendar-date-link date"><%= day.day %></div>
    <% Event.by_date(day).each do |event| %>
        <div class="modal fade" id="city<%= event.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="central-container modal-dialog pkut-box">
            <button type="button" class="close-btn contact-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
            <h3 class="pkut-header"><%= event.class_name %></h3>
            <div class="relative">
              <% spot = event.spot_events.first.spot if event.spot_events.first %>
              <% if spot %>
                <p>Spot: <br/> <%= link_to  "#{spot.title} (Click/tap for more details)", spot_path(spot) %></p>
                <p><%= spot.location %></p>
              <% else %>
                <p><%= event.address %></p>
              <% end %>
              <p><%= event.date.strftime('%l:%M %p') %></p>
              <p><%=  %></p>
              <p><%= event.description %></p>
              <p><%=  %></p>
              <p>Instructor: <%= event.host %></p>
              <p>
                <% if current_user %>
                  <% unless current_user.is_subscribed_to?(event) %>
                    <%= link_to 'Click to receive text alerts for this event.', subscribe_path(id: event.id), class: "calendar-link", method: :post %><br/>
                  <% else %>
                    <%= link_to 'Unsubscribe from this Event', unsubscribe_path(id: event.id), class: "calendar-link", method: :delete %><br/>
                  <% end %>
                <% end %>
              </p>
              <% if current_user && current_user.is_mod? %>
                </br>
                <p><%= link_to 'Edit Event', edit_event_path(id: event.id), class: "calendar-link" %></p>
                <p><%= link_to 'Destroy Event', destroy_event_path(id: event.id), method: :delete, class: "calendar-link", data: {confirm: "Are you sure?"} %></p>
                <p><%= link_to 'Destroy all future occurrences', destroy_event_path(future: "all", id: event.id), method: :delete, class: "calendar-link",
                data:{confirm: "Are you sure? This will delete this and all future events tied to this one."} if event.token %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% if event.class_name == "special" || (@selected_classes.include?(event.class_name.parameterize) && @selected_cities.include?(event.city.parameterize)) %>
        <li class="event-color calendar-event color-<%= event.color %> clickme forceOpen" onclick="" alt="..." data-toggle="modal" data-target="#city<%= event.id %>_modal">
          <span class="hidden-xs">&nbsp;<%= event.class_name %></span>
          <span class="visible-xs mobile-name"><%= event.class_name %></span>
        </li>
      <% end %>
    <% end %>
  </div>
<% end %>
