<%= javascript_tag do %>
  window.set_date = '<%= @date %>'
<% end %>

<div class="col-md-12 calendar-partial">
  <%= calendar @date do |date| %>
  <div class="row calendar-date-link"><%= date.day %></div>
  <div class="row">
    <% if @events[[date.year, date.month, date.day]] %>
    <ul>
      <% @events[[date.year, date.month, date.day]].sort_by { |event| event[:date] }.each do |event| %>
        <% if event.class_name == "special" || (@selected_classes.include?(event.class_name) && @selected_cities.include?(event.city))  %>
        <li class="event-color calendar-event <%= event.city.parameterize %>">
          <div class="calendar-tooltip">
            <h4><%= event.class_name.capitalize %></h4><br/>
            <%= event.address %><br/>
            <%= event.city %><br/>
            <%= event.date.strftime('%l:%M %p') %><br/>
            <br/>
            <%= event.description %><br/><br/>
            Instructor: <%= event.host %>
          </div>
          <span class="event-click-handler"><%= event.class_name.capitalize %></span>
        </li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
  </div>
  <% end %>
</div>
<% if current_user && current_user.role > 0 %>
  <%= link_to "Add Event", add_event_path %>
<% end %>
