<div class="row">
  <div class="col-md-12 calendar-partial">
    <%= mobile_calendar(@date) do |date| %>
      <div class="row calendar-date-link date"><%= date.day %></div>
      <div class="row">
        <% if @events[[date.year, date.month, date.day]] %>
          <ul>
            <% @events[[date.year, date.month, date.day]].sort_by { |event| event[:date] }.each do |event| %>
            <% events << event %>
              <% if event.class_name == "special" || (@selected_classes.include?(event.class_name) && @selected_cities.include?(event.city))  %>
                <li class="event-color calendar-event color-<%= event.color %> clickme forceOpen" onclick="" alt="..." data-toggle="modal" data-target="#city<%= event.id %>_modal">
                  <span class="hidden-xs">&nbsp;<%= event.class_name.capitalize %></span>
                  <span class="visible-xs"><%= event.class_name.split('').first.capitalize %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
