<div class="row">
  <div class="col-md-12 calendar-partial">
    <%= mobile_calendar(@date) do |date| %>
      <div class="row calendar-date-link date"><%= date.day %></div>
      <div class="row">
        <% if @events[[date.year, date.month, date.day]] %>
        <ul>
          <% @events[[date.year, date.month, date.day]].sort_by { |event| event[:date] }.each do |event| %>
            <% if event.class_name == "special" || (@selected_classes.include?(event.class_name) && @selected_cities.include?(event.city))  %>
              <li class="event-color calendar-event color-<%= event.color %> clickme forceOpen" onclick="" alt="..." data-toggle="moal" data-target="#city<%= event.id %>_modal">
                <span class="hidden-xs">&nbsp;<%= event.class_name.capitalize %></span>
                <span class="visible-xs"><%= event.class_name.split('').first.capitalize %></span>
              </li>
              <div class="modal fade" id="city<%= event.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="central-container">
                  <div class="error-container center-block">
                    <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
                    <h3 class="pkut-header"><%= event.class_name.capitalize %></h3>
                    <div class="relative">
                      <p><%= event.address %></p>
                      <p><%= event.city %></p>
                      <p><%= event.date.strftime('%l:%M %p') %></p>
                      <p><%=  %></p>
                      <p><%= event.description %></p>
                      <p><%=  %></p>
                      <p><%= event.location_instructions %></p>
                      <p><%=  %></p>
                      <p>Instructor: <%= event.host %></p>
                      <p>
                        <% if current_user %>
                          <% unless current_user.subscribed?(event) %>
                            <%= link_to 'Click to receive text alerts for this event.', subscribe_path(id: event.id), class: "calendar-link", method: :post %><br/>
                          <% else %>
                            <%= link_to 'Unsubscribe from this Event', unsubscribe_path(id: event.id), class: "calendar-link", method: :delete %><br/>
                          <% end %>
                        <% end %>
                      </p>
                      <% if current_user && current_user.is_mod? %>
                        </br>
                        <p><%= link_to 'Edit Event', edit_event_path(id: event.id), class: "calendar-link" %></p>
                        <p><%= link_to 'Destroy Event', destroy_event_path(id: event.id), method: :delete, class: "calendar-link", data: {confirm: "Are you sure?"} %></p>
                        <p><%= link_to 'Destroy all future occurrences', destroy_event_path(future: "all", id: event.id), method: :delete, class: "calendar-link",
                        data:{confirm: "Are you sure? This will delete this and all future events tied to this one."} if event.token %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
