<% date ||= @date %>
<% week ||= @week %>
<% events_for_week = EventSchedule.events_in_date_range(week.first, week.last).sort_by(&:date).group_by { |event| event.date.strftime('%Y-%m-%d') } %>
<div class="week-container">
  <% (week.first.to_date..week.last.to_date).each do |day| %>
    <% events = events_for_week[day.strftime('%Y-%m-%d')] || [] %>
    <div class="day-container <%= date.to_date == day.to_date ? 'chosen-day' : '' %>" data-date="<%= day.to_date %>">
      <h5 class="day-label"><%= day.strftime('%A %B %d, %Y') %></h5>
      <div class="mobile-events-container">
        <% events.each do |event| %>
          <% event_params = {id: event.id || 'new', event_schedule_id: event.event_schedule_id, date: day.strftime('%Y-%m-%d')} %>
          <div class="mobile-event-container event-detail-btn" data-event-url="<%= detail_event_path(*event_params) %>">
            <div class="mobile-event-time" style="<%= event.css_style %>"><%= event.time_of_day %></div>
            <div href="<%= event_path(*event_params) %>" class="day-btn mobile-event-name"><%= event.title %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
