<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <%= icon('chevron-left', '', class: '') %>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <%= icon('chevron-right', '', class: '') %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <div class="calendar-date-link <%#= date.event - return strings %>"><%= link_to date.day, calendar_show_path(date: date) %></div>
    <% end %>
  </div>
</div>
