<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <select multiple>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <%= icon('chevron-left', '', class: '') %>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <%= icon('chevron-right', '', class: '') %>
      <% end %>
      <select multiple>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <div class="row calendar-date-link <%#= date.event - return strings %>"><%= link_to date.day, calendar_show_path(date: date) %></div>
      <div class="row">
        <% if @events[[date.month, date.day]] %>
        <ul>
          <% @events[[date.month, date.day]].sort_by { |event| event[:date] }.each do |event| %>
            <li href="<%= event_path(event.id) %>" rel="tooltip" class="calendar-event <%= event.class_name %>" title=
'
Instructor: <%= event.host %>
<%= event.city %>
<%= event.address %>
<%= event.date.strftime('%l:%M %p') %>

<%= event.description %>
' data-html="true">
              <%= event.class_name.capitalize %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
