<% content_for :body do %>
  <style>
    html, body {
      max-width: <%= @cities.count * 100 + 5 %>vw;
      width: <%= @cities.count * 100 + 5 %>vw;
      min-width: <%= @cities.count * 100 + 5 %>vw;
    }
  </style>
<% end %>

<div class="days-container">
<% @cities.each do |city| %>
<span class="a-single-date event-color color-<%= Event.color_of(city) %>"><%= city %></span>
<% end %>
</div>
