<div class="row">
  <div class="text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 cities-container">
        <% @cities.each do |city| %>
          <div href="<%= city %>" class="calendar-legend event-color <%= city.parameterize %> col-xs-6">
            <%= city.capitalize %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="well controls col-md-8 col-md-offset-2 col-xs-12">
        <select class="select-dropbox class-name-search col-xs-4" multiple="multiple" placeholder="All Events(Default)">
          <% @classes.each do |class_name| %>
            <option value="<%= class_name %>"><%= class_name.capitalize %></option>
          <% end %>
        </select>
        <span class="col-xs-4">
          <%= link_to calendar_draw_path(date: @date - 1.month), class: "btn btn-default back-month" do %>
            <%= icon('chevron-left', '', class: '') %>
          <% end %>
          <span class="date-holder"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
          <%= link_to calendar_draw_path(date: @date + 1.month), class: "btn btn-default forward-month" do %>
            <%= icon('chevron-right', '', class: '') %>
          <% end %>
        </span>
        <select class="select-dropbox city-name-search col-xs-4" multiple="multiple" placeholder="All Cities(Default)">
          <% @cities.each do |city| %>
            <option value="<%= city %>"><%= city.capitalize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center calendar-container">
    <div class="row">
      <%= render('display') %>
    </div>
  </div>
</div>
