<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?v=3.23&key=<%= ENV['PKUT_GMAPS_KEY'] %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>

<%= render_modal("event-detail-modal") do %>
  <div class="event-detail-container"></div>
<% end %>

<div class="row">
  <div class="date-picker-container">
    <span class="calendar-date-picker"></span>
  </div>
</div>
<div class="row relative desktop-view-container">
  <div class="full-calendar-container">
    <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12 text-center">
      <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
        <% @classes.each do |event_name| %>
          <option value="<%= event_name %>"><%= event_name %></option>
        <% end %>
      </select>
      <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      </span>
      <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center calendar-container">
      <%= render partial: 'desktop_calendar_controls' %>
    </div>
  </div>
</div>
