<%= javascript_tag do %>
  window.set_date = '<%= @date %>'
<% end %>
<% content_for :body do %>
  <style>
    html, body { background: black; }
  </style>
<% end %>

<div class="col-md-8 col-md-offset-2 cities-container relative">
  <div class="hidden-xs">
    <% @cities.each do |city| %>
      <div href="<%= city %>" class="col-xs-3 calendar-legend">
        <i class="calendar-legend-blip event-color color-<%= Event.color_of(city) %>">&nbsp;</i>
        <span class="calendar-legend-text pull-left"><%= city.capitalize %></span>
      </div>
    <% end %>
  </div>
  <div class="central-container internal-center visible-xs">
    <a alt="..." class="pkut-btn" data-toggle="modal" data-target="#legend_modal">Show Legend</a><br/>
    <div class="modal fade" id="legend_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="central-container">
        <div class="error-container center-block">
          <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
          <h1 class="pkut-header">Legend</h1>
          <div class="relative">
            <% @cities.each do |city| %>
              <div href="<%= city %>" class="row calendar-legend">
                <i class="calendar-legend-blip event-color color-<%= Event.color_of(city) %>">&nbsp;</i>
                <span class="calendar-legend-text-black pull-left"><%= city.capitalize %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row relative">
  <div class="full-calendar-container hidden-xs" style="margin-top: <%= (Event.list_of_cities.count+1)/4 * 40 + 80 %>px;">
    <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12 text-center">
      <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
        <% @classes.each do |class_name| %>
          <option value="<%= class_name %>"><%= class_name.capitalize %></option>
        <% end %>
      </select>
      <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <%= link_to calendar_draw_path(date: @date - 1.month), class: "btn btn-default back-month" do %>
          <%= icon('chevron-left', '', class: '') %>
        <% end %>
        <span class="date-holder"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
        <%= link_to calendar_draw_path(date: @date + 1.month), class: "btn btn-default forward-month" do %>
          <%= icon('chevron-right', '', class: '') %>
        <% end %>
      </span>
      <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city.capitalize %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center calendar-container">
      <%= render partial: 'display' %>
    </div>
  </div>

  <div class="full-calendar-container visible-xs" style="margin-top: 100px;">
    <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12 text-center">
      <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
        <% @classes.each do |class_name| %>
          <option value="<%= class_name %>"><%= class_name.capitalize %></option>
        <% end %>
      </select>
      <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <%= link_to calendar_draw_path(date: @date - 1.month), class: "btn btn-default back-month" do %>
          <%= icon('chevron-left', '', class: '') %>
        <% end %>
        <span class="date-holder"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
        <%= link_to calendar_draw_path(date: @date + 1.month), class: "btn btn-default forward-month" do %>
          <%= icon('chevron-right', '', class: '') %>
        <% end %>
      </span>
      <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city.capitalize %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center calendar-container">
      <%= render partial: 'display' %>
    </div>
  </div>
</div>
