<%= javascript_tag do %>
  window.set_date = '<%= @date %>'
<% end %>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 cities-container fancy-box">
    <div class="hidden-xs">
      <% @cities.each do |city| %>
        <div href="<%= city %>" class="col-xs-3 calendar-legend">
          <i class="calendar-legend-blip event-color color-<%= Event.color_of(city) %>">&nbsp;</i>
          <span class="calendar-legend-text pull-left"><%= city.capitalize %></span>
        </div>
      <% end %>
    </div>
    <div class="tooltip-container">
      <div class="visible-xs open-tooltip">
        <div class="show-tooltip">
          <span class="close-tooltip">X</span>
          <% @cities.each do |city| %>
            <div href="<%= city %>" class="col-xs-8 col-xs-offset-1 calendar-legend">
              <i class="calendar-legend-blip event-color color-<%= Event.color_of(city) %>">&nbsp;</i>
              <span class="calendar-legend-text pull-left"><%= city.capitalize %></span>
            </div>
          <% end %>
        </div>
        <h4 class="fancy-btn">Show Legend</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="full-calendar-container">
    <div class="text-center">
      <div class="row calendar-controls-container">
        <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12">
          <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
            <% @classes.each do |class_name| %>
              <option value="<%= class_name %>"><%= class_name.capitalize %></option>
            <% end %>
          </select>
          <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <%= link_to calendar_draw_path(date: @date - 1.month), class: "btn btn-default back-month" do %>
              <%= icon('chevron-left', '', class: '') %>
            <% end %>
            <span class="date-holder"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
            <%= link_to calendar_draw_path(date: @date + 1.month), class: "btn btn-default forward-month" do %>
              <%= icon('chevron-right', '', class: '') %>
            <% end %>
          </span>
          <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
            <% @cities.each do |city| %>
              <option value="<%= city %>"><%= city.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center tooltip-container calendar-container">
      <%= render partial: 'display' %>
    </div>
  </div>
</div>
