<div class="row">
  <div class="date-picker-container">
    <span class="calendar-date-picker"></span>
  </div>
</div>
<div class="row relative desktop-view-container">
  <div class="full-calendar-container">
    <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12 text-center">
      <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
        <% @classes.each do |event_name| %>
          <option value="<%= event_name %>"><%= event_name %></option>
        <% end %>
      </select>
      <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      </span>
      <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center calendar-container">
      <%= render partial: 'display' %>
    </div>
  </div>
