<div class="row">
  <div class="container" style="position: relative; height: 100px; width: 100%; background: red;">
    <div class="background" style="position: absolute;">

    </div>
    <div class="foreground" style="position: absolute; text-align: center;">
      Hello, World!
    </div>
  </div>
</div>
<div class="row relative">
  <div class="full-calendar-container">
    <div class="calendar-controls col-md-8 col-md-offset-2 col-xs-12 text-center">
      <select class="select-dropbox class-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Events(Default)">
        <% @classes.each do |class_name| %>
          <option value="<%= class_name %>"><%= class_name.split('-').map(&:capitalize).join(' ') %></option>
        <% end %>
      </select>
      <span class="date-controller col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <span class="pkut-btn forceOpen" data-toggle="modal" data-target="#datepicker-modal">Goto</span>
      </span>
      <select class="select-dropbox city-name-search col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3" multiple="multiple" placeholder="All Cities(Default)">
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city.split('-').map(&:capitalize).join(' ') %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center calendar-container">
      <%= render partial: 'display' %>
    </div>
  </div>

<%= render partial: 'datepicker' %>
