<div class="medium-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: "pkut-btn" %>
  <% if @competition.persisted? %>
    <%= link_to "Back to Competition", competition_path(@competition), class: "pkut-btn" %>
  <% end %>
  <br/><br/>

  <%= form_for @competition do |f| %>
    <div class="form-container">
      <%= render partial: 'layouts/error_container', locals: { resource: @competition } %>

      <div class="form-field">
        <%= f.label :name %>*
        <%= f.text_field :name, placeholder: "FITCON 20**", class: "customRequired pkut-textbox" %>
      </div>
      <div class="form-field">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: "fitcon-20** -", class: "pkut-textbox" %>
      </div>

      <div class="form-field">
        <%= f.label :start_time %>*
        <%= f.datetime_local_field :start_time, class: "customRequired, pkut-textbox" %>
      </div>

      <div class="form-field">
        <%= f.label :spot_id %>
        <%= f.select :spot_id, Spot.pluck(:title, :id), { selected: @competition.spot_id, include_blank: "None" }, class: "pkut-textbox" %>
      </div>

      <% if @competition.persisted? %>
        <pre><%= JSON.pretty_generate(@competition.option_costs) %></pre>
      <% else %>
        <div class="form-field">
          <%= label_tag "competition[option_costs][all]", "Registration cost. Ping Rocco if you need to break down by age/registration time" %>
          <%= number_field_tag "competition[option_costs][all]", @competition.option_costs&.dig(:all), class: "pkut-textbox" %>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :description %>*
        <%= f.text_area :description, placeholder: "Welcome to the registration...", class: "customRequired pkut-textarea", rows: 15 %>
      </div>

      <%= submit_tag "Submit", class: "btn btn-success" %>

      <% if @competition.persisted? %>
        <%= link_to "Destroy", competition_path(@competition.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
