<div class="text-center monitor-page medium-container" data-competition-url="<%= competition_results_url(@competition) %>">
  <h2><%= @competition.name %>: <br> <%= @competition.start_time.strftime("%B %dth") %></h2>
  <h3 class="text-left">Youth:</h3>
  <div class="table tableSorter">
    <div class="thead">
      <div class="tr">
        <div class="th" data-sort="numeric">#</div>
        <div class="th wide" data-sort="text">Name</div>
        <% @categories.each do |category| %>
          <div class="th" data-sort="numeric"><%= category %></div>
        <% end %>
        <div class="th" data-sort="numeric">Overall</div>
        <div class="th" data-sort="numeric">Total</div>
        <div class="th" data-sort="numeric">Rank</div>
      </div>
    </div>
    <% @competitors.youth.each do |competitor| %>
      <div class="tr" data-competitor-id="<%= competitor.id %>">
        <div class="td" data-sortAs="numeric"><%= competitor.position %></div>
        <div class="td" data-sortAs="text"><%= competitor.full_name %></div>
        <% @categories.each do |category| %>
          <% score = competitor.score_display(category) %>
          <div class="td" data-sortAs="numeric" data-category="<%= category.downcase %>"><%= link_to score, competition_competitor_path(@competition, category, competitor) %></div>
        <% end %>
        <div class="td" data-sortAs="numeric" data-category="overall_impression"><%= competitor.score_display(:overall_impression) %></div>
        <div class="td" data-sortAs="numeric" data-category="total"><%= competitor.score_display %></div>
        <div class="td super-text" data-sortAs="numeric" data-category="rank"><%= competitor.rank || "--" %></div>
      </div>
    <% end %>
  </div>

  <hr style="border-width: 10px;">

  <h3 class="text-left">Adult:</h3>
  <div class="table tableSorter">
    <div class="thead">
      <div class="tr">
        <div class="th" data-sort="numeric">#</div>
        <div class="th wide" data-sort="text">Name</div>
        <% @categories.each do |category| %>
          <div class="th" data-sort="numeric"><%= category %></div>
        <% end %>
        <div class="th" data-sort="numeric">Overall</div>
        <div class="th" data-sort="numeric">Total</div>
        <div class="th" data-sort="numeric">Rank</div>
      </div>
    </div>
    <% @competitors.adult.each do |competitor| %>
      <div class="tr" data-competitor-id="<%= competitor.id %>">
        <div class="td" data-sortAs="numeric"><%= competitor.position %></div>
        <div class="td" data-sortAs="text"><%= competitor.full_name %></div>
        <% @categories.each do |category| %>
          <% score = competitor.score_display(category) %>
          <div class="td" data-sortAs="numeric" data-category="<%= category.downcase %>"><%= link_to score, competition_competitor_path(@competition, category, competitor) %></div>
        <% end %>
        <div class="td" data-sortAs="numeric" data-category="overall_impression"><%= competitor.score_display(:overall_impression) %></div>
        <div class="td" data-sortAs="numeric" data-category="total"><%= competitor.score_display %></div>
        <div class="td super-text" data-sortAs="numeric" data-category="rank"><%= competitor.rank || "--" %></div>
      </div>
    <% end %>
  </div>
</div>
