<div class="competition-wrapper">
  <% if current_instructor? %>
    <%= link_to "Judge Portal", competition_judge_path(@competition), class: "pkut-btn" %>
  <% end %>
  <h3><%= @competition.name %>: <br> <%= @competition.start_time.strftime("%B %dth") %></h3>
  <h3><%= @competition.cost_range %></h3>
  <% sponsors = @competition.sponsor_images %>
  <% if sponsors.any? %>
    <p>This Competition is brought to you by:</p>
    <div class="sponsors">
      <% count = sponsors.length %>
      <% sponsors.each_with_index do |sponsor_image, idx| %>
        <%= image_tag sponsor_image %>
        <%= "&" unless idx == count - 1 %>
      <% end %>
    </div>
  <% end %>
  <div class="description"><%= @competition.description %></div>
  <% if user_signed_in? %>
    <%= form_for @competitor, url: competitors_path do |f| %>
      <div class="form text-center">
        <div class="form-field">
          <% if @registered_athletes.any? %>
            <p><span class="pkut-text"><%= @registered_athletes.pluck(:full_name).to_sentence %></span> <%= @registered_athletes.one? ? "has" : "have" %> already been registered for this competition.</p>
          <% end %>
          <% if @eligible_athletes.none? %>
            <p class="pkut-text">You don't have any athletes eligible to enter this competition.</p>
          <% end %>
        </div>
        <% if @eligible_athletes.any? %>
          <%= f.hidden_field :competition_id %>
          <div class="form-field">
            <span class="pkut-text"><strong>Please add 1 athlete at a time.</strong></span>
            <%= f.select :athlete_id do %>
              <option>Select Athlete</option>
              <% @eligible_athletes.each do |athlete| %>
                <option value="<%= athlete.id %>" data-age-group="<%= athlete.age_group %>"><%= athlete.full_name %></option>
              <% end %>
            <% end %>
          </div>
          <div class="form-field">
            <% [:youth, :adult].each do |age_group| %>
              <%= f.select :selected_comp, @competition.select_options(age_group), {}, { class: "comp-select", data: { reveal: age_group } } if @competition.options[age_group].present? %>
            <% end %>
          </div>
          <!-- <div class="form-field">
            <%#= f.select :shirt_size, ["Adult XS", "Adult S", "Adult M", "Adult L", "Adult XL"], include_blank: "Select Shirt Size" %>
          </div> -->
          <div class="form-field"><%= f.text_field :instagram_handle, placeholder: "Instagram Handle", class: "pkut-textbox disableEnterSubmit" %></div>
          <div class="form-field"><%= f.text_field :song, placeholder: "Song (family friendly - leave blank for random)", class: "pkut-textbox disableEnterSubmit" %></div>
          <div class="form-field"><%= f.text_field :referred_by, placeholder: "Referred By", class: "pkut-textbox disableEnterSubmit" %></div>
          <div class="form-field"><%= f.text_area :bio, placeholder: "Bio (140 character limit)", class: "pkut-textarea", maxlength: "140" %></div>
          <div class="form-field"><%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "pkut-textbox disableEnterSubmit" %></div>
        <% end %>
      </div>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-image="http://parkourutah.com/favicon.ico"
              data-name="Parkour Utah"
              data-billing-address="true"
              data-description="All Sales are Final">
      </script>
    <% end %>
    <p class="text-center">
      <%= link_to "", class: "pkut-btn #{'disabled' if @competitor.athlete_id.blank?}", id: "form-submit", data: { toggle: "modal", target: "#waiver_modal" } do %>
        Register Competitor <span class="competitor-cost"></span>
      <% end %>
    </p>
  <% else %>
    <p>Please sign in or register before enrolling in the competition.</p>
    <p class="text-center">
      <%= link_to "Sign in", new_user_session_path, class: "pkut-btn" %>
      <%= link_to "Register", new_user_path, class: "pkut-btn" %>
    </p>
  <% end %>
</div>

<%= render_modal("waiver_modal", "medium-modal text-left") do %>
  <h2 class="title">Waiver</h2>
  <div class="row">
    <div class="col-sm-4">This waiver is for</div>
    <div class="col-sm-8 waiver-athletes"></div>
  </div>
  <br/>
  <p>If this information is incorrect please click the red X on the top right and update the information before attempting to sign the waiver again.</p>
  <div class="text-center">
    <%= link_to 'REVIEW AND DOWNLOAD WAIVER', '//s3-us-west-2.amazonaws.com/pkut-default/PKUT+UP+Woodbury+Corp+Waiver.pdf', class: 'pkut-link', target: '_blank' %>
    <br>
    <div class="pkut-checkbox center-checkbox">
      <%= check_box_tag :signed, '', nil, class: 'required-checkbox' %>
      <%= label_tag :signed do %>
        <div class="arrow-required">Required</div>
      <% end %>
    </div>
  </div>
  <p>By checking the box above, I hereby agree to waive any liability of Parkour Utah and it's affiliated organizations for the athletes listed above. By entering my name below, I certify that I have downloaded, read, and understand all of the terms and provisions in the liability waiver document available for download above.</p>
  <p>I also certify that I understand that the above document that I have downloaded and read is a legal document, and it is my understanding that an electronic signature has the same effect and can be enforced in the same way as a writen signature, as stated in Utah Code 46-4-201.</p>
  <p>By signing this document, I am waiving any liability claims against Parkour Utah and it's affiliated organizations for the athlete selected, and certify that I am the athlete or the parent and/or guardian of the athlete, and I am waiving any liability claims against Parkour Utah and it's affiliated organizations on behalf of the athletes listed above.</p>
  <br/>
  <div class="text-center">
    <%= text_field_tag :signed_by, '', placeholder: 'Signed By', class: 'pkut-textbox customRequired', autocomplete: 'off' %>
    <br/>
    <%= link_to "Submit", "", class: "pkut-btn disabled", id: "waiver-submit", data: { clickit: ".stripe-button-el", dismiss: :modal } %>
  </div>
<% end %>

<% if current_user&.admin? %>
  <div class="small-container" style="margin: 0 auto;">
    <p>Registered competitors (only admins see this section)</p>
    <p class="text-center">
      <%= link_to "Export to CSV", export_competition_path(@competition), download: true, class: "pkut-btn" %>
    </p>
    <ul>
    <% @competition.competitors.order("approved_at NULLS FIRST, created_at DESC").each do |competitor| %>
      <% next unless competitor.persisted? %>
      <li>
        <%= link_to "#{competitor.athlete_id}: #{competitor.athlete.full_name}", admin_user_path(competitor.athlete.user) %>
        <ul>
          <% if competitor.approved_at? %>
            <li style="color: green;">Approved</li>
          <% else %>
            <li><%= link_to "Approve this athlete", competitor_path(competitor), method: :patch, data: { confirm: "Are you sure?" } unless competitor.approved_at? %></li>
          <% end %>
          <li><strong>Age:</strong> <%= competitor.age %></li>
          <li><strong>Years:</strong> <%= competitor.years_training %></li>
          <li><strong>Instagram:</strong> <%= link_to competitor.instagram_handle, "https://www.instagram.com/#{competitor.instagram_handle}" if competitor.instagram_handle %></li>
          <li><strong>Song:</strong> <%= competitor.song %></li>
          <li><strong>Referred By:</strong> <%= competitor.referred_by %></li>
          <li><strong>Bio:</strong> <%= content_tag :pre, competitor.bio if competitor.bio.present? %></li>
          <li><strong>Competition:</strong> <%= competitor.competition.name %></li>
          <li><strong>Category:</strong> <%= competitor.selected_comp %></li>
          <% if @competition.age_groups.many? %>
            <li><strong>Age Group:</strong> <%= competitor.age_group.to_s.titleize %> (<%= competitor.age_group == :adult ? "14+" : "Under 14" %>)</li>
          <% end %>
          <% if competitor.shirt_size.present? %>
            <li><strong>Shirt Size:</strong> <%= competitor.shirt_size %></li>
          <% end %>
          <li><strong>Referred by:</strong> <%= competitor.referred_by %></li>
          <li><strong>Payment Received:</strong> $<%= competitor.discounted_cost %> <%= "(#{competitor.coupon_code})" if competitor.coupon_code.present? %></li>

          <% if competitor.stripe_charge_id.present? %>
            <li><%= link_to "View in Stripe", "https://dashboard.stripe.com/payments/#{competitor.stripe_charge_id}" %></li>
          <% else %>
            <li><strong>Sponsored Athlete - no payment</strong></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
