<div class="central-container pkut-box clearfix contact-us">
  <h2 class="header-text">Contact Us</h2>
  <div class="text-center">Let us know if you have any questions about classes, private lessons, what we do, etc...</div>
  <div class="contact-links">
    <a rel="nofollow external" target="_blank" href="https://www.facebook.com/ParkourUtah/" class="contact-link"><%#= image_tag "Facebook.png" %></a>
    <a rel="nofollow external" target="_blank" href="https://twitter.com/parkourutah" class="contact-link"><%#= image_tag "Twitter.png" %></a>
    <a rel="nofollow external" target="_blank" href="https://www.youtube.com/parkourutah" class="contact-link"><%#= image_tag "Youtube.png" %></a>
    <a rel="nofollow external" target="_blank" href="https://www.instagram.com/parkourutah/" class="contact-link"><%#= image_tag "Instagram.png" %></a>
  </div>
  <p class="text-center contact-or">- or -</p>
  <%= form_tag "/contact" do %>
    <%= hidden_field_tag :enabled, false, class: 'enabled-field' %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :name, '', class: 'pkut-textbox', placeholder: 'Your Name' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :email, '', class: 'pkut-textbox', placeholder: 'Email' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= telephone_field_tag :phone, '', class: 'pkut-textbox formatPhoneNumber customRequired', placeholder: 'Phone (required)' %><br/>
      </div>
    </div>
    <p class="text-center">Questions about classes? Be sure to check our <a href="<%= faq_path %>">FAQ</a>!</p>
    <%= text_area_tag :comment, '', class: 'pkut-textarea', maxlength: 600, placeholder: "Comments, questions, inquiries, interrogations, conversations, queries, chatter, information annex, whatever you need to know type it here and we'll get back to you A.S.A.P.P. (As Soon As Parkour Possible)" %>
    <%= button_tag "Send", class: "pkut-btn pull-right" %>
  <% end %>
</div>
