<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_1">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_2">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_3">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_4">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_5">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('fallback.jpg') %>" alt="..." class="carousel-center" data-toggle="modal" data-target="#modal_6">
      <div class="carousel-caption">
        Click to Play video!
      </div>
    </div>
    <!-- Text on all -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <%= icon('chevron-left', '', class: 'glyphicon-chevron-right') %>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <%= icon('chevron-right', '', class: 'glyphicon-chevron-right') %>
  </a>
</div>
