<div class="central-container faq-page">
  <div class="faq-question">How Do I Sign Up?</div>

  <p class="faq-answer">
    Click on the <span style="color: red;">RED</span> <a href="<%= new_user_registration_path %>">get started button</a> on our front page. From there go through the registration process making sure to sign a waiver for <strong>each</strong> participant. If you are under 18 you will need a parent or guardian to complete the form for you. At the end of the registration process there is an automated email with your assigned Athlete ID and your customized PIN. Put both in the flashing box to receive your free trial classes. <strong>Remember to bring both numbers to class in order to attend.</strong>
  </p>

  <div class="faq-question">What Ages Do You Teach?</div>

  <p class="faq-answer">
    For now we teach ages 7+. Make sure to pay attention to our facebook page and looking at our occasional emails, we're planning on setting up 3-6 year old classes soon as well as adult specific classes!
  </p>

  <div class="faq-question">How Much Are Classes/What are Credits?</div>

  <p class="faq-answer">
    The first two classes are offered for free as trials.
    <br>
    Following your two free classes, they are $12 each. There are bulk discounts in the store as well as open gym and any events we may offer. Each dollar gets you a <strong>credit</strong> and credits can be applied to any class, open gym, or event.
  </p>

  <div class="faq-question">Where Can I Take Classes?</div>

  <p class="faq-answer">
    Check our <a href="<%= calendar_all_path %>">Calendar</a> which shows all our class times and locations. If you click on an event it will actually give you an exact GPS link of where the class meets, as well as the cell phone number of the instructor.
  </p>

  <div class="faq-question">How Long Do Classes Last?</div>

  <p class="faq-answer">
    The majority of our classes are an hour and fifteen minutes long.
  </p>

  <div class="faq-question">Can I Get Reminders For Class?</div>

  <p class="faq-answer">
    You can manage your subscriptions (text and email alerts) within your <a href="<%= edit_user_path %>">personal dashboard</a> in your Parkour Utah account. You can select reminders by clicking on individual classes in the calendar and selecting subscribe to this event.
  </p>

  <div class="faq-question">Why Is Open Gym Only 18 And Under?</div>

  <p class="faq-answer">
    The gym we rent on Friday nights has an insurance company that requires it. This doesn’t apply to workshops, seminars and parties we run there. Feel free to <a href="http://facebook.com/parkourutah">reach out to us on facebook</a> and we might be able to meet up with you at a local trampoline park or tumbling gym.
  </p>

  <div class="faq-question">I Want To Learn Flips!</div>

  <p class="faq-answer">
    Awesome! We'd love to help you learn whatever flip you'd like! We normally only teach flips at Open Gym or during seminars due to our access to pads and other safety equipment. Check out our Open Gyms on Friday nights.
  </p>

  <div class="faq-question">Isn't Parkour Dangerous?</div>

  <p class="faq-answer">
    Actually, the danger of parkour is often overestimated. Parkour has one of the lowest injury rates of all sports, way below baseball, football, basketball, etc... We also do what we can to mitigate risk and keep things safe. We've taught over 2,000 classes and have only had 2 injuries, that's an injury rate of 0.1%. Our students focus on safety and strength training; we rigorously test students before having them attempt any acrobatic movements.
  </p>

  <div class="faq-question">Do You Offer Private Lessons?</div>

  <p class="faq-answer">
    Absolutely! Just sign up in our store and it will allow you to request a specific instructor. As part of that process there is a general time table. After selecting a time the instructor will reach out to you and either confirm it or work out another time.
  </p>

  <div class="faq-question">What Services Do You Offer?</div>

  <p class="faq-answer">
    We have private lessons, outdoor parkour classes, indoor open gym, birthday parties, home-school events, seminars, jams and much more.
    <br>
    If you want to schedule something specific just <a href="<%= contact_path %>">contact us</a> or <a href="http://facebook.com/parkourutah">message us on facebook</a>.
  </p>

  <div class="faq-question">Do You Do Parkour Birthday Parties?</div>

  <p class="faq-answer">
    We most definitely do! We run both indoor and outdoor parties.
    <br>
    Message us <a href="<%= contact_path %>">here</a>, on <a href="http://facebook.com/parkourutah">facebook</a>, on <a href="http://twitter.com/parkourutah">twitter</a>, or on <a href="http://instagram.com/parkourutah">instagram</a> to schedule a birthday party, private seminar or specialized parkour meeting with us.
  </p>

  <div class="faq-question">Why Can't I Access The Store?</div>

  <p class="faq-answer">
    In order to purchase classes, private lessons, seminars and birthday parties we require you to have a Parkour Utah account. The account is free with no obligation. Part of the signup process includes the signing of our waiver. We do not allow participation without having a signed waiver.
    <br>
    You can still purchase clothing and gift card codes without an account.
  </p>
</div>
