  <div class="video-bg">
    <% unless mobile_device? %>
      <video autoplay="" loop="" muted="">
        <source src="<%= asset_path('pkut-bg-video.mov') %>" type="video/mp4">
      </video>
    <% end %>
  </div>
<div class="header-container" id="home">
  <div class="header vert">
    <div class="container">
      <%= image_tag('PKUT-full-color.png', class: 'img-responsive pkut-main center-block') %>
      <div>&nbsp;</div>
      <div class="call-nav">
        <a href="#about" class="main-btn lead scroll-link">About Us</a>
        <br class="visible-xs visible-sm"/>
        <% if user_signed_in? %>
          <a href="<%= account_path %>" class="main-btn lead call-to-arms">Get Started</a>
        <% else %>
          <a href="<%= new_user_path %>" class="main-btn lead call-to-arms">Get Started</a>
        <% end %>
        <br class="visible-xs visible-sm"/>
        <a href="#calendar" class="main-btn lead scroll-link">Locations</a>
        <a href="#join" class="main-btn lead scroll-link">Contact us</a>
      </div>
    </div>
  </div>
</div>

<div class="gallery" id="calendar">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="locations-text">Locations</h2>
      <br>
    </div>
  </div>

  <div class="container well well-lg">
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="list-group">
            <%= link_to city, calendar_show_path(city: city.parameterize), class: 'list-group-item locations-item' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

</div>

<div class="blurb bright" id="join">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="contact-text"></h2>
      <br>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'contact_us' %>
  </div>
</div>

<footer class="footer-index">
  <div class="container">
    <div class="row text-center">
      <div class="social-media-container">
        <a href="//facebook.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble facebook"></div>
        </a>
        <a href="//youtube.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble youtube"></div>
        </a>
        <a href="//twitter.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble twitter"></div>
        </a>
      </div>
      <br>
      <div class="copyright">ParkourUtah © <%= Time.now.year %></div>
      </p>
    </div>
  </div>
</footer>
