  <div class="video-bg">
   <video autoplay="" loop="" muted="" id="bgvid">
      <source src="//s3-us-west-2.amazonaws.com/pkut-default/pkut-bg-video.mov" type="video/mp4">
      <source src="/assets/pkut-bg-video-affb00c6247a665efd8a506bd3326466.mp4" type="video/mp4">
    </video>
  </div>
<div class="header-container" id="home">
  <div class="header vert">
    <div class="container">
      <%= image_tag('//s3-us-west-2.amazonaws.com/pkut-default/PKUT-full-color.png', class: 'img-responsive pkut-main center-block') %>
      <div>&nbsp;</div>
      <div class="call-nav">
        <a href="#about" class="main-btn lead scroll-link">About Us</a>
        <a href="#peeps" class="main-btn lead scroll-link">Our people</a>
        <br class="visible-xs visible-sm"/>
        <% if user_signed_in? %>
          <a href="<%= edit_user_registration_path %>" class="main-btn lead call-to-arms">Get Started</a>
        <% else %>
          <a href="<%= new_user_registration_path %>" class="main-btn lead call-to-arms">Get Started</a>
        <% end %>
        <br class="visible-xs visible-sm"/>
        <a href="#calendar" class="main-btn lead scroll-link">Locations</a>
        <a href="#join" class="main-btn lead scroll-link">Contact us</a>
      </div>
    </div>
  </div>
</div>

<div class="callout-background">
  <div class="callout-container" id="peeps">
    <div class="callout">
      <div class="col-md-12 text-center"><h2 class="standout">OUR PEOPLE</h2></div>
      <div class="col-md-12 text-center">&nbsp;</div>
      <div class="row">
        <div class="instructors-container">
          <% @instructors.each do |instructor| %>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front" style="background: #FFF url(<%= instructor.avatar(:medium) %>);background-size: 100% 100%;">
                </div>
                <div class="back" style="background: #FFF url(<%= instructor.avatar_2(:medium) %>);background-size: 100% 100%;">
                  <div class="bio-background">
                    <br/>
                    <p class="card-bio-text">
                      <strong class="instructor-name"><%= instructor.full_name %></strong><br/>
                      <% unless instructor.nickname.nil? || instructor.nickname.split.join.length == 0 %>
                        AKA "<%= instructor.nickname %>"</br>
                      <% end %>
                      <%= instructor.title %><br/>
                      <%= instructor.stats %><br/><br/>
                      <%= instructor.bio.squish %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gallery" id="calendar">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="locations-text">Locations</h2>
      <br>
    </div>
  </div>

  <div class="container well well-lg">
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="list-group">
            <%= link_to city, calendar_show_path(city: city.parameterize), class: 'list-group-item locations-item' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

</div>

<div class="blurb bright" id="join">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="contact-text"></h2>
      <br>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'contact_us' %>
  </div>
</div>

<footer class="footer-index">
  <div class="container">
    <div class="row text-center">
      <div class="social-media-container">
        <a href="//facebook.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble facebook"></div>
        </a>
        <a href="//youtube.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble youtube"></div>
        </a>
        <a href="//twitter.com/ParkourUtah" target="_blank" class="social-media-icon">
          <div class="bubble twitter"></div>
        </a>
      </div>
      <br>
      <div class="copyright">ParkourUtah © <%= Time.now.year %></div>
      </p>
    </div>
  </div>
</footer>
