<div class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#home" class="navbar-brand scroll-link">PKUT</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse pull-right" id="navbar">
      <ul class="nav navbar-nav">
        <li><a class="scroll-link" href="#about">About Us</a></li>
        <li><a class="scroll-link" href="#media">Videos</a></li>
        <li><a class="scroll-link" href="#peeps">Our peeps</a></li>
        <li><a class="scroll-link" href="#schedule">Schedule</a></li>
        <li><a class="scroll-link" href="#join">Join us</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="header-container" id="home">
  <div class="header vert">
    <div class="container">
      <h1>PKUT</h1>
      <p class="lead">--</p>
      <div>&nbsp;</div>
      <a href="#about" class="btn btn-default btn-lg scroll-link">Get Started</a>
    </div>
  </div>
</div>


<hr>

<div id="about" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>The Simplicity of Bootstrap</h1>
        <p class="lead">The Most Popular Responsive Framework</p>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right"><%= icon('phone', '', class: 'fa-3x') %> <%= icon('tablet', '', class: 'fa-3x') %> <%= icon('laptop', '', class: 'fa-3x') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="media">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Amazing Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <%= icon('rocket') %>
          <h4>Rocket</h4>
          <p>Up-up-and-away with this starter template.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <%= icon('magnet') %>
          <h4>Magnet</h4>
          <p>For you are a magnet and I am steel.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <%= icon('shield') %>
          <h4>Shield</h4>
          <p>Protect yourself. Don't design like it's 1999.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <%= icon('pencil') %>
          <h4>Scholar</h4>
          <p>Because lead pencils are pretty smart looking.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="peeps">
  <div class="vert">
    <div class="col-md-12 text-center"><h2>Random People With Smiles</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="row hidden-xs">
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/12.jpg"></div>
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/95.jpg"></div>
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/67.jpg"></div>
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/27.jpg"></div>
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/15.jpg"></div>
        <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/18.jpg"></div>
      </div>
    </div>
  </div>
</div>

<div class="gallery" id="schedule">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <%= render "calendar/show"  %>
      <br>
    </div>
  </div>
</div>

<div class="blurb bright" id="join">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Smashing Heading</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2><%= icon('chevron-left', '', class: '') %> Left</h2></div>
        <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis si.
          <div class="row">&nbsp;</div>
          <button class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Right <%= icon('chevron-right', '', class: '') %></h2></div>
        <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit.
          <div class="row">&nbsp;</div>
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><%= icon('facebook', '', class: 'fa-2x') %></li>
          <li><%= icon('twitter', '', class: 'fa-2x') %></li>
          <li><%= icon('google-plus', '', class: 'fa-2x') %></li>
          <li><%= icon('instagram', '', class: 'fa-2x') %></li>
        </ul>
        <hr>
        <p>Built with <%= icon('heart-o') %> at <a href="http://www.bootply.com">Bootply</a>.<br>Company ©2014</p>
      </div>
    </div>
  </div>
</footer>
