<div class="central-container pkut-box form-offset">
  <h3>Enter your email below to unsubscribe.</h3>
  <h6>NOTE: We will no longer send emails to the email you entered, even if you've subscribed to class reminders or other notifications in the past.</h6>
  <%= form_tag unsubscribe_path do %>
    <div class="text-center">
      <%= email_field_tag :email, @user.try(:email), placeholder: 'Email Address', class: "pkut-textbox" %>

      <% if @unsubscribe_type.present? %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :all, checked: false %>
          <%= label_tag :unsubscribe_type_all, "Unsubscribe from All PKUT related emails" %>
        </div>
      <% end %>
      <% if @unsubscribe_type == :email_newsletter %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :email_newsletter, checked: false %>
          <%= label_tag :unsubscribe_type_email_newsletter, "Unsubscribe from Newsletters" %>
        </div>
      <% end %>
      <% if @unsubscribe_type == :email_class_reminder %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :email_class_reminder, checked: false %>
          <%= label_tag :unsubscribe_type_email_class_reminder, "Unsubscribe from Class Reminders" %>
        </div>
      <% end %>
      <% if @unsubscribe_type == :email_low_credits %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :email_low_credits, checked: false %>
          <%= label_tag :unsubscribe_type_email_low_credits, "Unsubscribe from Low Credits Notifications" %>
        </div>
      <% end %>
      <% if @unsubscribe_type == :email_waiver_expiring %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :email_waiver_expiring, checked: false %>
          <%= label_tag :unsubscribe_type_email_waiver_expiring, "Unsubscribe from Waiver Expiring Notifications" %>
        </div>
      <% end %>
      <% if @unsubscribe_type == :email_class_cancelled %>
        <div class="unsubscribe-btn-container">
          <%= radio_button_tag :unsubscribe_type, :email_class_cancelled, checked: false %>
          <%= label_tag :unsubscribe_type_email_class_cancelled, "Unsubscribe from Class Cancelled Notifications" %>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= submit_tag "Unsubscribe", class: "pkut-btn" %>
    </div>
  <% end %>
</div>
