<div class="central-container">
  <p>This is the Emergency Contact we will use in the case we are unable to get a hold of you.</p>
  <%= form_for(@user, url: user_path, html: { method: :put, id: "modal-submit" }) do |f| %>
    <h5>Emergency Contacts</h5>
    <%= f.fields_for :emergency_contacts, @user.emergency_contacts.order(:id) do |ff| %>
      <%= render partial: 'emergency_contact_fields', locals: {ff: ff} %>
    <% end %>
    <div class="text-center">
      <%= f.submit "Update", class: "pkut-btn" %>
    </div>
  <% end %>
  <div class="new-emergency-contact-container">
    <%= link_to "#", data: { target: "#new-emergency-contact", toggle: "modal" }, class: "pkut-btn" do %>
      <i class="fa fa-plus"></i> Add Emergency Contact
    <% end %>
  </div>

  <%= render_modal("new-emergency-contact", "skinny-modal") do %>
    <%= form_for(@user, url: user_path, html: { method: :put, id: "modal-submit" }) do |f| %>
      <h5>New Emergency Contact</h5>
      <%= f.fields_for :emergency_contacts, @user.emergency_contacts.new do |ff| %>
        <%= render partial: 'emergency_contact_fields', locals: {ff: ff} %>
      <% end %>
      <div class="text-center">
        <%= f.submit "Save", class: "pkut-btn" %>
      </div>
    <% end %>
  <% end %>

</div>
