<div class="modal fade" id="delete-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <div class="error-container center-block">
      <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
      <h1 class="pkut-header">Destroy?</h1>
      <p class="error-message">Are you positive you want to destroy <strong><%= user.full_name %></strong>?</p>
      <p class="error-message">This is permanent and cannot be undone.</p>
      <p class="error-message">If you are sure, enter `DELETE`(all caps, no quotes) below and then click delete user.</p>
      <%= form_for [:admin, user], method: :delete do %>
        <%= text_field_tag :confirmation, '', class: 'delete-user-field'  %>
        <%= submit_tag "Delete User", class: 'delete-user-btn' %>
      <% end %>
    </div>
  </div>
</div>

<!-- <a alt="..." class="pkut-btn pull-right" data-toggle="modal" data-target="#error_modal">~~texthere~~</a><br/> -->
<%#= render partial: 'layouts/message', locals: {modal_id: "", title: "", message: ""} %>
