<% if current_user.athletes.joins(:recurring_subscriptions).any? %>
  <hr>
  <div class="row">
    <p>You are currently set up to auto-pay for <strong class="pkut-text">monthly</strong> subscriptions.</p>
    <% current_user.subscribed_athletes.sort_by {|a|a.current_subscription.try(:expires_at)}.each do |athlete| %>
      <% subscription = athlete.current_subscription %>
      <% next unless subscription.present? %>
      <div class="row">
        <div class="col-sm-6">
          <p>The next payment of <%= number_to_currency(subscription.cost) %> for <%= athlete.full_name %> will process on <%= (subscription.expires_at + 1.day).strftime('%B %e, %Y') %>.</p>
        </div>
        <div class="col-sm-6 text-center">
          <%= link_to 'Unsubscribe', unsubscribe_monthly_subscription_path(athlete.id), class: 'pkut-btn', method: :delete %>
        </div>
      </div>
    <% end %>
    <p><a href="#" data-clickit=".stripe-button-el">Update Card Details</a></p>
  </div>
<% end %>

<% if current_user.can_receive_sms %>
  <% if current_user.subscribed_events.any? %>
    <hr>
    <div class="row">
      <p>Classes subscribed to:</p>
      <% current_user.subscribed_events.each do |event_schedule| %>
        <div class="row">
          <div class="col-sm-6">
            <%= event_schedule.time_of_day %> <%= event_schedule.city %> <%= event_schedule.title.capitalize %>
          </div>
          <div class="col-sm-6 text-center">
            <%= link_to 'Unsubscribe', unsubscribe_event_schedule_path(event_schedule), class: 'pkut-btn', method: :delete %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  <% else %>
    <h3>You aren't subscribed to any classes.</h3>
  <% end %>
<% else %>
  <h3 class="pkut-text">You have blacklisted ParkourUtah, so we are unable to message you about your subscribed classes!</h3>
  <h3 class="pkut-text">Visit the <a data-tab-target="#notifications">"Notifications"</a> tab in order to unblacklist us.</h3>
<% end %>

<% if current_user.athletes_with_unlimited_access.count > 0 %>
  <hr>
  <% current_user.athletes_with_unlimited_access.each do |athlete| %>
    <div class="row">
      <p><%= athlete.full_name %> has unlimited classes until: <%= athlete.has_access_until.strftime('%B %-d, %Y') %></p>
    </div>
  <% end %>
<% end %>

<%= form_tag update_card_details_user_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-image="http://parkourutah.com/favicon.ico"
          data-name="Parkour Utah"
          data-label="Update Card Details"
          data-panel-label="Update Card Details"
          data-locale="auto"
          data-email="<%= @user.email %>"></script>
<% end %>
