<div class="row">
  <div class="col-sm-6">
    <h2 class="hidden-xs"><%= @user.email %></h2>
    <h4 class="visible-xs"><%= @user.email %></h4>
  </div>
  <div class="col-sm-6 text-right">
    <h2>Credits: <span class="pkut-text"><%= @user.credits %><span></h2>
  </div>
</div>

<%= render partial: 'layouts/error_container', locals: { resource: @user } %>

<div class="user-dashboard-page">
  <div class="tabs-container">

    <% ["account", "athletes", "notifications", "subscriptions", "contacts"].each do |tab_type| %>
      <div class="tab-container">
        <input type="radio" id="<%= tab_type %>-tab" name="user-dashboard-tabs-group" <%= 'checked' if tab_type == 'account' %>>
        <label for="<%= tab_type %>-tab" class="tab-label <%= tab_type %>-tab">
          <div class="tab-content">
            <div class="central-container">
              <h1 class="text-center"><%= tab_type.capitalize %></h1>
              <%= render partial: "#{tab_type}_content" %>
            </div>
          </div>
          <div class="tab"><%= tab_type.capitalize %></div>
        </label>
      </div>
    <% end %>

  </div>
</div>
