<div class="row">
  <div class="col-sm-6">
    <h2 class="hidden-xs"><%= @user.email %></h2>
    <h4 class="visible-xs"><%= @user.email %></h4>
  </div>
  <div class="col-sm-6 text-right">
    <h2>Credits: <span class="pkut-text"><%= @user.credits %><span></h2>
  </div>
</div>

<div class="user-dashboard-page">
  <div class="tabs-container">

    <%
    tabs = {
      account: { icon: "user" },
      athletes: { icon: "universal-access" },
      notifications: { icon: "bell" },
      subscriptions: { icon: "envelope" },
      contacts: { icon: "plus-square" }
    }
    %>

    <% tabs.each_with_index do |(tab_type, tab_options), idx| %>
      <div class="tab-container">
        <input type="radio" id="<%= tab_type %>-tab" name="user-dashboard-tabs-group" <%= 'checked' if idx == 4 %>>
        <label for="<%= tab_type %>-tab" class="tab-label <%= tab_type %>-tab">
          <div class="tab-content text-center">
            <h1 class="text-center"><%= tab_type.capitalize %></h1>
            <%= render partial: "#{tab_type}_content" %>
          </div>
          <div class="tab">
            <% if @notifications[tab_type] > 0 %>
              <div class="blip"><%= @notifications[tab_type.to_sym] %></div>
            <% end %>
            <span class="tab-icon"><i class="fa fa-<%= tab_options[:icon] %>"></i></span>
            <span class="tab-name"><%= tab_type.capitalize %></span>
          </div>
        </label>
      </div>
    <% end %>

  </div>
</div>
