<div class="central-container form-offset text-center">
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <p>(8 character minimum)</p>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: "pkut-textbox" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm', class: "pkut-textbox" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: 'pkut-btn' %>
  </div>
<% end %>
</div>
