<div class="central-container fancy-box form-offset">
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: "pkut-textbox" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm', class: "pkut-textbox" %>
  </div>

  <div class="actions">
    <h4 ><%= f.submit "Change my password", class: 'fancy-btn' %></h4 >
  </div>
<% end %>
</div>
