<div class="row">
  <div class="progress-bar">
    <div class="progress-bar-offset"></div>
    <div class="progress-bar-background">
      <span class="step-1 <%= reg_step > 1 ? "step-passed" : (reg_step == 1 ? "step-current" : "") %>">Step 1 <%= icon("fas", "angle-right") %></span>
      <span class="step-2 <%= reg_step > 2 ? "step-passed" : (reg_step == 2 ? "step-current" : "") %>">Step 2 <%= icon("fas", "angle-right") %></span>
      <span class="step-3 <%= reg_step > 3 ? "step-passed" : (reg_step == 3 ? "step-current" : "") %>">Step 3 <%= icon("fas", "angle-right") %></span>
      <span class="step-4 <%= reg_step > 4 ? "step-passed" : (reg_step == 4 ? "step-current" : "") %>">Step 4 <%= icon("fas", "angle-right") %></span>
      <span class="step-5 <%= reg_step > 5 ? "step-passed" : (reg_step == 5 ? "step-current" : "") %>">Step 5 <%= icon("fas", "angle-right", '', class: 'icon-hidden') %></span>
    </div>
  </div>
</div>
