<div class="row">
  <div class="progress-bar">
    <div class="progress-bar-offset"></div>
    <div class="progress-bar-background">
      <span class="step-1 <%= step > 1 ? "step-passed" : (step == 1 ? "step-current" : "") %>">Step 1 <%= icon("angle-right") %></span>
      <span class="step-2 <%= step > 2 ? "step-passed" : (step == 2 ? "step-current" : "") %>">Step 2 <%= icon("angle-right") %></span>
      <span class="step-3 <%= step > 3 ? "step-passed" : (step == 3 ? "step-current" : "") %>">Step 3 <%= icon("angle-right") %></span>
      <span class="step-4 <%= step > 4 ? "step-passed" : (step == 4 ? "step-current" : "") %>">Step 4 <%= icon("angle-right") %></span>
      <span class="step-5 <%= step > 5 ? "step-passed" : (step == 5 ? "step-current" : "") %>">Step 5 <%= icon("angle-right", '', class: 'icon-hidden') %></span>
    </div>
  </div>
</div>
