<%= render_modal("review-step-4-modal") do %>
  <%= form_for @user, url: fix_review_page_path, method: :post do |f| %>
    <h2>Whoops, let's get that fixed.</h2>
    <p>Looks like some information is incorrect. You may fix the information below and then click submit to save your changes.</p>

    <div class="row">
      <div class="col-sm-4">
        Email Address:
      </div>
      <div class="col-sm-8">
        <%= f.text_field :email, placeholder: 'Emergency Contact Name', class: "pkut-textbox customRequired" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Phone Number:
      </div>
      <div class="col-sm-8">
        <%= f.telephone_field :phone_number, placeholder: 'Phone Number', class: "pkut-textbox formatPhoneNumber customRequired" %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        SMS Notifications:
      </div>
      <div class="col-sm-8">
        <div class="text-field-height pkut-checkbox text-left">
          <%= f.check_box :sms_alert %>
          <%= f.label :sms_alert %>
        </div>
      </div>
    </div>
    <br/>

    <%= f.fields_for :emergency_contacts, @user.emergency_contacts.last || @user.emergency_contacts.new do |ff| %>
      <div class="row">
        <div class="col-sm-4">
          Emergency Contact Name:
        </div>
        <div class="col-sm-8">
          <%= ff.text_field :name, placeholder: 'Emergency Contact Name', class: "pkut-textbox customRequired" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Emergency Contact Number:
        </div>
        <div class="col-sm-8">
          <%= ff.telephone_field :number, value: format_phone_number(@user.emergency_contacts.last.number), placeholder: 'Emergency Contact Phone #', class: "pkut-textbox formatPhoneNumber customRequired" %>
        </div>
      </div>
      <br/>
    <% end %>

    <%= f.fields_for :address, @user.address || Address.new(user_id: @user.id) do |ff| %>
      <div class="row">
        <div class="col-sm-4">
          Address:
        </div>
        <div class="col-sm-8">
          <%= ff.text_field :line1, placeholder: 'Address 1', class: "pkut-textbox customRequired" %>
          <%= ff.text_field :line2, placeholder: 'Address 2', class: "pkut-textbox" %>
          <br>
          <%= ff.text_field :city, placeholder: 'City', class: "pkut-textbox textbox-2col-5max customRequired" %>
          <%= ff.text_field :state, placeholder: 'State', class: "pkut-textbox textbox-1col-5max customRequired" %>
          <%= ff.text_field :zip, placeholder: 'Zip Code', class: "restrictNumeric pkut-textbox textbox-2col-5max customRequired" %>
        </div>
      </div>
      <br/>
    <% end %>

    <div class="row">
      <div class="col-sm-4">
        Athletes:
      </div>
      <div class="col-sm-8">
        <% @athletes.each do |athlete| %>
          <%= text_field_tag "athlete[#{athlete.id}][name]", athlete.full_name, placeholder: 'Full Name', class: "pkut-textbox formatName textbox-2col-5max" %>
          <%= text_field_tag "athlete[#{athlete.id}][dob]", athlete.date_of_birth, placeholder: 'MM/DD/YYYY', class: "pkut-textbox formatDOB textbox-2col-5max" %>
          <span class="show-required"><%= text_field_tag "athlete[#{athlete.id}][code]", athlete.fast_pass_pin.to_s.rjust(4, "0"), placeholder: 'ex:1234', class: "pkut-textbox formatPin textbox-1col-5max" %></span>
          <br>
        <% end %>
      </div>
    </div>

    <div class="text-center">
      <%= f.submit "Submit", class: 'pkut-btn' %>
    </div>

  <% end %>
<% end %>
