<div class="central-container form-offset disableEnterSubmit">
  <%= render partial: 'registrations/progress_bar', locals: {reg_step: 5} %>
  <h2 class="header-text">Registration Complete!</h2>
  <% if current_user.athletes.unverified.count > 0 && !current_user.skip_trials? %>
    <h4>Congratulations!</h4>
    <p>You have completed your account registration. We want to reward you!</p>
    <div class="pkut-btn big-btn orange-btn-glowing forceOpen" data-toggle="modal" data-target="#verify_athletes">
      Click here to receive your trial class!
    </div>
    <%= render partial: 'athletes/verify_athletes' %>
  <% end %>
  <p>Check out our calendar to find a class that best fits your schedule. All students attending class for the first time must attend a Beginner's class so that we can make an assessment of skills and abilities. Bring the email you received and plenty of water to class. See you there!!!</p>

  <br/>
  <div class="row text-center">
    <div class="col-sm-4">
      <%= link_to 'Store', store_path, class: "pkut-btn" %>
      <br class="visible-xs"/>
      <br class="visible-xs"/>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Profile', account_path, class: "pkut-btn" %>
      <br class="visible-xs"/>
      <br class="visible-xs"/>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Calendar', calendar_show_path, class: "pkut-btn" %>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row text-center">
    <div class="col-sm-6">
      <%= link_to 'Add Credits', store_path, class: "pkut-btn" %>
      <br class="visible-xs"/>
      <br class="visible-xs"/>
    </div>
    <div class="col-sm-6">
      <%= link_to 'View Classes', calendar_show_path, class: "pkut-btn" %>
    </div>
  </div>
</div>
