<div class="central-container form-offset internal-center">
  <%= render partial: 'registrations/progress_bar', locals: {step: 2} %>
  <h6 class="warning-text text-center">This process must be completed by a parent or legal guardian.</h6>
  <h2 class="header-text">Okay let's get some personal info</h2>
  <p>We just sent you off a welcome email letting you know your account has been created and giving you a copy of your password. Please fill out the personal info below and click next.</p>

  <%= form_tag url: {controller: 'registrations'} do %>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= telephone_field_tag 'user[phone]', '', placeholder: 'Phone Number', class: "pkut-textbox formatPhoneNumber customRequired" %>
      </div>

      <div class="text-field-height pkut-checkbox">
        <%= check_box_tag 'smsalert' %>
        <%= label_tag 'smsalert' do %>
        <% end %>
        <p>Check the box for SMS updates <a data-toggle="modal" data-target="#what_is" class="hover-btn"><sup>(What is this?)</sup></a></p>
      </div>
      <br class="visible-xs"/>

      <div class="field">
        <%= text_field_tag 'ec_contact[name]', '', placeholder: 'Emergency Contact Name', class: "pkut-textbox customRequired" %>
      </div>

      <div class="field">
        <%= telephone_field_tag 'ec_contact[number]', '', placeholder: 'Emergency Contact Phone #', class: "pkut-textbox formatPhoneNumber customRequired" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= text_field_tag 'address[line1]', '', placeholder: 'Address 1', class: "pkut-textbox customRequired" %>
      </div>

      <div class="field">
        <%= text_field_tag 'address[line2]', '', placeholder: 'Address 2', class: "pkut-textbox" %>
      </div>

      <div class="field">
        <%= text_field_tag 'address[city]', '', placeholder: 'City', class: "pkut-textbox customRequired" %>
      </div>

      <div class="field">
        <%= text_field_tag 'address[state]', '', placeholder: 'State', class: "pkut-textbox sm-textbox customRequired" %>
        <%= text_field_tag 'address[zip]', '', placeholder: 'Zip Code', class: "restrictNumeric pkut-textbox sm-textbox customRequired" %>
      </div>
    </div>
  </div>


    <div class="actions">
      <%= submit_tag "Next", class: 'pkut-btn pull-right' %><br />
    </div>
  <% end %>
</div>
<%= render partial: 'layouts/message', locals: {modal_id: "what_is", title: "SMS Updates", message: "If you would like, we would be happy to speed things up and send you notifications by text. These can be easily changed and customized from your profile and include reminders for your athletes' waivers expiring, updates to class, and when your account has almost run out of credits."} %>
