<%= render partial: 'registrations/progress_bar', locals: {step: 4} %>
<div class="central-container form-offset disableEnterSubmit">
  <h4 class="warning-text text-center">This process must be completed by a parent or legal guardian.</h4>
  <h2 class="header-text">Review</h2>
  <p>Let's make sure all of the information below is correct. If it is, click <span class="pkut-text">confirm</span> to complete your account registration. An email will be sent to you upon completion of the registration process. If the information below is NOT correct, simply click on the information that needs to be changed, and correct it before proceeding.</p>
  <p>You <strong class="pkut-text">MUST</strong> click on the empty boxes next to each athlete confirming that the waiver you signed on the previous step had their name on it.</p>
  <%= form_tag do %>
    <div class="row">
      <div class="col-sm-4">
        <span>Email Address:</span>
      </div>
      <div class="col-sm-8">
        <span class="pkut-link title open-review-modal"><%= current_user.email %></span>
      </div>
    </div>
    <br class="visible-xs"/>
    <div class="row">
      <div class="col-sm-4">
        <span>Phone Number:</span>
      </div>
      <div class="col-sm-8">
        <span class="pkut-link title open-review-modal"><%= format_phone_number(current_user.phone_number) %></span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <span>Emergency Contact Name:</span>
      </div>
      <div class="col-sm-8">
        <span class="pkut-link title open-review-modal"><%= current_user.emergency_contacts.last.name %></span>
      </div>
    </div>
    <br class="visible-xs"/>
    <div class="row">
      <div class="col-sm-4">
        <span>Emergency Contact Number:</span>
      </div>
      <div class="col-sm-8">
        <span class="pkut-link title open-review-modal"><%= format_phone_number(current_user.emergency_contacts.last.number) %></span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <span>Address:</span>
      </div>
      <div class="col-sm-8">
        <span class="pkut-link title open-review-modal"><%= current_user.show_address("%l1") %><br/></span>
        <% if current_user.address.line2.length > 0 %>
          <span class="pkut-link title open-review-modal"><%= current_user.show_address("%l2") %><br/></span>
        <% end %>
        <span class="pkut-link title open-review-modal"><%= current_user.show_address("%c, %s %z") %><br/></span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-3">
        <span>Athletes:</span>
      </div>
      <div class="col-sm-9">
        <div class="row text-right">
          Read and Signed Waiver
        </div>
        <% @athletes.each do |athlete| %>
          <div class="row">
              <div class="col-xs-4 visible-xs">
              <div class="pkut-link title open-review-modal"><%= athlete.full_name %></div>
              <div class="pkut-link title open-review-modal"><%= athlete.date_of_birth %></div>
              <div class="pkut-link title open-review-modal"><%= athlete.fast_pass_pin.to_s.rjust(4, "0") %></div>
            </div>
            <div class="col-sm-3 hidden-xs">
              <span class="pkut-link title open-review-modal"><%= athlete.full_name %></span>
            </div>
            <div class="col-sm-3 hidden-xs">
              <span class="pkut-link title open-review-modal"><%= athlete.date_of_birth %></span>
            </div>
            <div class="col-sm-2 hidden-xs">
              <span class="pkut-link title open-review-modal"><%= athlete.fast_pass_pin.to_s.rjust(4, "0") %></span>
            </div>
            <div class="col-sm-4 col-xs-8">
              <div class="pkut-checkbox arrow-required">
                <%= check_box_tag "agreed[#{athlete.id}]", '', false, class: "customRequired" %>
                <%= label_tag "agreed[#{athlete.id}]", '' %>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= submit_tag "Confirm", class: 'pkut-btn' %>
    </div>
  <% end %>
</div>
<%= render partial: 'registrations/review_4' %>
