<div class="central-container form-offset disableEnterSubmit">
  <%= render partial: 'registrations/progress_bar', locals: {step: 5} %>
  <h2 class="header-text">Registration Complete!</h2>
  <h4>Congratulations!</h4>
  <p>You have completed your account registration. We want to reward you!</p>
  <% if current_user.non_verified_athletes.count > 0 %>
    <div class="pkut-btn big-btn forceOpen" data-toggle="modal" data-target="#verify_athletes">
      Click here to receive 2 free classes!
    </div>
    <%= render partial: 'dependents/verify_athletes' %>
  <% end %>
  <p>Check out our calendar to find a class that best fits your schedule. All students attending class for the first time must attent a Beginner's class so that we can make an assessment of skills and abilities. Bring the email you received and planty of water to class. See you there!!!</p>

  <div class="row">
    <div class="col-sm-5">
      <%= image_tag("placeholder_thumbnail.png", class: 'img-responsive') %>
    </div>
    <div class="col-sm-5">
      <%= image_tag("placeholder_thumbnail2.png", class: 'img-responsive') %>
    </div>
    <br class="visible-xs"/>
    <div class="col-sm-2">
      <div class="col-sm-12 col-xs-4">
        <%= link_to 'Store', store_path, class: "pkut-btn" %>
      </div>
      <br class="hidden-xs"/>
      <br class="hidden-xs"/>
      <div class="col-sm-12 col-xs-4">
        <%= link_to 'Profile', edit_user_registration_path, class: "pkut-btn" %>
      </div>
      <br class="hidden-xs"/>
      <br class="hidden-xs"/>
      <div class="col-sm-12 col-xs-4">
        <%= link_to 'Schedule', calendar_show_path("all"), class: "pkut-btn" %>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row internal-center">
    <div class="col-sm-6">
      <%= link_to 'Add Credits', store_path, class: "pkut-btn" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'View Classes', calendar_show_path("all"), class: "pkut-btn" %>
    </div>
  </div>
</div>
