<%= render_modal("waiver_modal", "medium-modal text-left") do %>
  <%= form_tag url: {action: 'sign_waiver'} do %>
    <h2 class="title">Waiver</h2>
    <div class="row">
      <div class="col-sm-4">
        This waiver is for
      </div>
      <div class="col-sm-8 waiver-athletes">
      </div>
    </div>
    <br/>
    <p>If this information is incorrect please click the red X on the top right and update the information before attempting to sign the waiver again.</p>
    <div class="text-center">
      <%= link_to 'REVIEW AND DOWNLOAD WAIVER', '//s3-us-west-2.amazonaws.com/pkut-default/PKUT+UP+Woodbury+Corp+Waiver.pdf', class: 'pkut-link', target: '_blank' %>
      <br>
      <div class="pkut-checkbox center-checkbox">
        <%= check_box_tag :signed, '', nil, class: 'required-checkbox' %>
        <%= label_tag :signed do %>
          <div class="arrow-required">Required</div>
        <% end %>
      </div>
    </div>
    <p>By checking the box above, I hereby agree to waive any liability of University Place and/or Woodbury Corp and/or Parkour Utah for the athletes listed above. By entering my name below, I certify that I have downloaded, read, and understand all of the terms and provisions in the liability waiver document available for download above.</p>
    <p>I also certify that I understand that the above document that I have downloaded and read is a legal document, and it is my understanding that an electronic signature has the same effect and can be enforced in the same way as a writen signature, as stated in Utah Code 46-4-201.</p>
    <p>By signing this document, I am waiving any liability claims against Parkour Utah, Woodbury Corporation, and University Place for the athlete selected, and certify that I am the athlete or the parent and/or guardian of the athlete, and I am waiving any liability claims against Parkour Utah, Woodbury Corporation, and University Place on behalf of the athletes listed above.</p>
    <br/>
    <div class="text-center">
      <%= text_field_tag :signed_by, '', placeholder: 'Signed By', class: 'pkut-textbox customRequired', autocomplete: 'off' %>
      <br/>
      <a class="pkut-btn add-athletes-submission" data-dismiss="modal">Sign Waiver</a><br/>
    </div>
  <% end %>
<% end %>
