<div class="central-container form-offset disableEnterSubmit">
  <h4 class="warning-text text-center">This form must be completed by a parent or legal guardian.</h4>
  <%= form_tag(waivers_path, {id: "modal-submit"}) do %>
    <% @athletes.each do |athlete| %>
      <div class="row athlete-input-info">
        <div class="col-sm-6">
          <%= text_field_tag "update_athlete[#{athlete.id}][name]", '', placeholder: 'Full Name', value: athlete.full_name, class: "pkut-textbox formatName" %>
        </div>
        <div class="col-sm-6">
          <%= text_field_tag "update_athlete[#{athlete.id}][dob]", '', placeholder: 'MM/DD/YYYY', value: athlete.date_of_birth, class: "pkut-textbox sm-textbox formatDOB" %>
          <%= text_field_tag "update_athlete[#{athlete.id}][code]", '', placeholder: 'ex:1234', value: athlete.fast_pass_pin.to_s.rjust(4, "0"), class: "pkut-textbox xs-textbox formatPin" %>
          <a alt="..." data-toggle="modal" data-target="#destroy_athlete"><%= icon("times-circle-o", '', class: 'fa-2x delete-athlete hover-btn', id: athlete.id) %></a><br/>
        </div>
      </div>
    <% end %>
    <h2 class="header-text">Add Athletes</h2>
    <p>Add the first and last name, birthday, and desired Pin Code for each athlete (including yourself) who is going to participate in lessons.</p>
    <% token = 10.times.map {(('a'..'z').to_a + ('A'..'Z').to_a + ('0'..'9').to_a).sample}.join %>
    <div class="athlete-container">
      <div class="row athlete-input-info">
        <div class="col-sm-6">
          <%= text_field_tag "athlete[#{token}][name]", '', placeholder: 'Full Name', class: "pkut-textbox formatName" %>
        </div>
        <div class="col-sm-6">
          <%= telephone_field_tag "athlete[#{token}][dob]", '', placeholder: 'MM/DD/YYYY', class: "pkut-textbox sm-textbox formatDOB" %><span class="show-required"><a alt="..." data-toggle="modal" data-target="#what_is" class="hover-btn forceOpen what-is-pin"><sup>(What is this?)</sup></a><%= telephone_field_tag "athlete[#{token}][code]", '', placeholder: 'ex:1234', class: "pkut-textbox xs-textbox formatPin" %></span> <%= icon("times-circle-o", '', class: 'fa-2x kill-athlete hover-btn') %>
        </div>
      </div>
    </div>
    <%= render partial: 'athletes/reiterate_waiver' %>
    <%= render partial: 'athletes/waivers' %>
  <% end %>
  <h4><span class="add-athlete-btn hover-btn pkut-text"><%= icon('plus-square-o', '', class: 'fa-lg') %> Add Additional Athlete</span></h4>
  <a alt="..." class="pkut-btn pull-right populate-waiver-btn" data-toggle="modal" data-target="#waiver_modal">Sign Waiver</a><br/>
</div>

<%= render_modal("what_is", "skinny-modal") do %>
  <h1 class="pkut-text">Pin Code</h1>
  <p class="error-message">A PIN code (similar to a debit card PIN) is a 4 digit number that the athlete will need in order to attend class. This code will be entered along with the Athlete ID Number, which is assigned to you at the end of your registration. Please select a 4 digit number that is EASY to remember for each athlete.</p>
<% end %>

<%= render_modal("error_modal", "skinny-modal text-left") do %>
  <h1 class="pkut-text">Error</h1>
  <p class="error-message">
    <p>Sorry! It looks like we still need some information.</p>
    <p>Before continuing, please make sure you have downloaded, read, and understand the waiver.</p>
    <p>Next, make sure you have done the following:</p>
    <br>1) Have added at least 1 athlete.
    <br>2) Have agreed to the Terms and Conditions.
    <br>3) Have signed your name.
  </p>
<% end %>

<%= render partial: 'athletes/confirm_delete' %>
