<div class="modal fade" id="adjust-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <div class="error-container center-block">
      <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
      <h1 class="pkut-header">Adjust</h1>
      <p class="error-message">Enter a number to add credits to user's account. Enter a (-) before the number to subtract credits.</p>
      <p class="error-message">(12 or -12)</p>
      <%= form_tag adjust_credits_path(user) do %>
        <%= text_field_tag :adjust, '' %>
        <%= submit_tag "Adjust Credits", class: 'pkut-btn' %>
      <% end %>
    </div>
  </div>
</div>

<!-- <a alt="..." class="pkut-btn pull-right" data-toggle="modal" data-target="#error_modal">~~texthere~~</a><br/> -->
<%#= render partial: 'layouts/message', locals: {modal_id: "", title: "", message: ""} %>
