<div class="modal fade" id="edit_user_subscriptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="standard-modal modal-dialog central-container">
    <button type="button" class="close-btn" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
    <h1 class="pkut-header hidden-xs">Subscriptions</h1>
    <h4 class="pkut-header visible-xs">Subscriptions</h4>
    <% if @user.subscribed_athletes.any? %>
      <hr>
      <div class="row">
          <p>This user is currently set up to auto-pay for monthly subscriptions.</p>
          <% @user.subscribed_athletes.sort_by {|a|a.subscription.expires_at}.each do |athlete| %>
          <% subscription = athlete.subscription %>
            <div class="row">
              <div class="col-xs-6">
                <p>The next payment of <%= number_to_currency(subscription.cost) %> for <%= athlete.full_name %> will process on <%= (subscription.expires_at + 1.day).strftime('%B %e, %Y') %>.</p>
              </div>
              <div class="col-xs-6">
                <%= link_to 'Unsubscribe', unsubscribe_monthly_subscription_path(athlete.id), class: 'pkut-btn', method: :delete %>
              </div>
            </div>
          <% end %>
          <p>
      </div>
    <% end %>
    <% if @user.athletes_with_unlimited_access.count > 0 %>
      <hr>
      <% @user.athletes_with_unlimited_access.each do |athlete| %>
        <div class="row">
          <p><%= athlete.full_name %> has unlimited classes until: <%= athlete.subscription.expires_at.strftime('%B %e, %Y') %></p>
        </div>
      <% end %>
    <% end %>
    <% if @user.subscribed_events.any? %>
      <hr>
      <div class="row">
        <p>Classes subscribed to:</p>
        <% @user.subscribed_events.each do |schedule| %>
          <div class="row">
            <div class="col-xs-6">
              <%= schedule.city %> <%= schedule.title.capitalize %> <%= schedule.time_of_day %>
            </div>
            <div class="col-xs-6">
              <%= link_to 'Unsubscribe', unsubscribe_event_schedule_path(id: schedule.id, user_id: @user.id), class: 'pkut-btn', method: :delete %>
            </div>
          </div>
          <br/>
        <% end %>
      </div>
    <% end %>
    <% if @user.phone_number_is_valid? %>
      <h3>Subscribe to class:</h3>
      <%= select_tag "event_token", options_for_select(EventSchedule.all.map { |es| [es.title, es.id] }), class: "pkut-dropdown subscribe-to-event-dropdown" %>
      <%= link_to 'Subscribe!', '', class: 'pkut-btn subscribe-to-selected-btn', method: :post, data: { new_href: subscribe_event_schedule_path(id: "--schedule_id--", user_id: @user.id) } %>
    <% else %>
      <p>Cannot subscribe to classes until User adds a valid phone number.</p>
    <% end %>
  </div>
</div>
