<div class="content-box text-center">
  <% if @success.present? || @failed.present? %>
    <table class="table table-bordered">
      <thead>
        <th>Success</th>
        <th>Failed</th>
      </thead>
      <tbody>
        <% [@success.count, @failed.count].max.times do |idx| %>
          <tr>
            <td><%= @success[idx] %></td>
            <td><%= @failed[idx] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= form_tag send_batch_texts_path do %>
    <%= label_tag :recipients, "Enter comma-separated 10 digit phone numbers" %> <br>
    <%= text_field_tag :recipients, '', class: 'pkut-textbox' %> <br>
    <%= label_tag :message %> <br>
    <%= text_area_tag :message, '', class: 'pkut-textarea', style: 'max-width: 350px;' %> <br>
    <%= submit_tag "Send!", class: 'pkut-btn' %>
  <% end %>
</div>
