<div class="central-container form-offset">
  <% @athletes.each do |athlete| %>
    <h3><%= athlete.full_name %></h3>
    <p>Guardian phone: <%= athlete.guardian_phone %></p>
    <% athlete.user.emergency_contacts.each do |ec| %>
      <p>Emergency Contact: <strong><%= ec.name %> <%= athlete.format_phone(ec.number) %></strong></p>
    <% end %>
    <br/>
    <br/>
  <% end %>
  <%= link_to "Back to PIN entry", begin_class_path(params[:id]), class: 'pkut-btn' %>
</div>
