<% if current_user && current_user.is_instructor? %>
  <div class="central-container form-offset">
    <h2>Dashboard</h2><br/>
    <h2>Begin a Class</h2><br/>
    <% @classes.each do |event| %>
      <%= link_to "#{event.date.strftime('%l:%M')} #{event.class_name}", begin_class_path(event.id), class: 'pkut-btn' %><br/><br/>
    <% end %>
    <%= link_to "Private Class", begin_class_path(1), class: 'pkut-btn' %><br/><br/>
    <%= link_to "Testing Session", begin_class_path(83788378), class: 'pkut-btn' %><br/><br/>
    <% if current_user.is_admin? %>
      <h2>Admin Abilities</h2><br/>
      <%= link_to "View Item Purchases", peeps_bought_classes_path, class: 'pkut-btn' %><br/></br>
      <%= link_to "View Recent Users", recent_users_path, class: 'pkut-btn' %><br/></br>
      <%= link_to "Generate Keys", generate_keys_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Add New Item", add_item_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Edit Items", edit_items_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Add New Event", add_event_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Edit Events", cities_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Promote User to Instructor", promote_path, class: 'pkut-btn' %><br/><br/>
      <%= link_to "Edit Instructors (Demote/Sort)", edit_peeps_path, class: 'pkut-btn' %><br/><br/>
    <% end %>
  </div>
<% end %>
