<% if current_user && current_user.is_instructor? %>
  <div class="fancy-box central-container form-offset">
    <h2>Dashboard</h2><br/>
    <h2>Begin a Class</h2><br/>
    <% @classes.each do |event| %>
      <h5><%= link_to "#{event.class_name.capitalize} - #{event.city}", begin_class_path(event.id), class: 'fancy-btn' %></h5><br/><br/>
    <% end %>
    <h5><%= link_to "1 on 1", begin_class_path(1), class: 'fancy-btn' %></h5><br/><br/>
    <% if current_user.is_admin? %>
      <h2>Admin Abilities</h2><br/>
      <h5><%= link_to "Generate Keys", generate_keys_path, class: 'fancy-btn' %></h5><br/><br/>
      <h5><%= link_to "Add New Event", add_event_path, class: 'fancy-btn' %></h5><br/><br/>
      <h5><%= link_to "Add New Item", add_item_path, class: 'fancy-btn' %></h5><br/><br/>
      <h5><%= link_to "Promote User to Instructor", coming_soon_path, class: 'fancy-btn' %></h5><br/><br/>
      <h5><%= link_to "Edit Instructors (Demote/Sort)", coming_soon_path, class: 'fancy-btn' %></h5><br/><br/>
    <% end %>
  </div>
<% end %>
