<div class="fancy-box central-container form-offset">
  <h4><%= link_to "Back to Dashboard", dashboard_path, class: 'fancy-btn' %></h4><br/><br/>
  <h4>Click and Drag to change Instructor order. Click to edit instructor info.</h4>
  <table class="sortable" id="instructor-table">
    <% @instructors.each do |instructor| %>
      <tr class="sortable-row">
        <td class="hidden sortable-url"><%= update_peep_position_url(instructor.id) %></td>
        <td>
          <div class="fancy-btn">
            <%= link_to edit_peep_path(instructor.id) do %>
              <%= icon('arrows', '', class: 'fa-lg pull-left')  %>
              <%= instructor.full_name %>
            <% end %>
          </div><br/>
        </td>
      </tr>
    <% end %>
  </table>
</div>
