<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  Users: <%= @users.count %>
  <% @users.each do |user| %>
    <% if user.has_unlimited_access? %>
      <h3 style="color: green;"><%= user.id %>: <%= user.email %>*</h3>
    <% else %>
      <h3><%= user.id %>: <%= user.email %></h3>
    <% end %>
    <p><strong><%= user.show_phone_number %></strong></p>
    <p>Credits: <%= user.credits %> -- <a data-toggle="modal" data-target="#adjust-<%= user.id %>" class="forceOpen">Adjust</a></p>
    <p>Last seen:
      <% if user.signed_in? %>
        <span style="color:green;">Online Now!</span>
      <% else %>
        <% if user.last_sign_in_at? %>
          <span style="color:yellow;"><%= (user.last_sign_in_at - 6.hours).strftime('%B %e, %Y at %I:%M %p') %></span>
        <% else %>
          <span style="color:red;">Never</span>
        <% end %>
      <% end %>
    </p>
    <p>Signed up: <strong><%= (user.created_at - 6.hours).strftime('%B %e, %Y at %I:%M %p') %></strong></p>
    <a data-toggle="modal" data-target="#delete-<%= user.id %>" class="pkut-btn forceOpen">Delete User</a>
    <h4>Athletes:</h4>
    <% user.athletes_by_waiver_expiration.each do |athlete| %>
      --<%= athlete.id %>: <strong><%= athlete.full_name %></strong> - ID: <%= athlete.zero_padded(athlete.athlete_id, 4) %><br/>
      --Birthday: <%= athlete.date_of_birth %><br/>
      --Waiver expires: <%= athlete.waiver ? athlete.waiver.exp_date.strftime('%B %e, %Y') : "No waiver signed" %><br/><br/>
    <% end %>
    <hr>
    <%= render partial: 'destroy_user', locals: {user: user} %>
    <%= render partial: 'adjust_credits', locals: {user: user} %>
  <% end %>
</div>
