<%= form_for @athlete, url: {controller: "peeps", action: "pin_password", id: params[:id]}, html: {multipart: true}, method: :put do %>
  <%= submit_tag "X", class: "reject-athlete-pin btn btn-danger" %>
  <%= submit_tag "√", class: "accept-athlete-pin btn btn-success" %>
  <%= hidden_field_tag :athlete_id, @athlete.athlete_id %>
  <div class="central-container min-container">
    <h3><%= @athlete.full_name %></h3>
    <% if @athlete.athlete_photo_file_size %>
      <%= image_tag("#{@athlete.athlete_photo(:medium)}", width: "300", class: 'athlete-image falsify-image-click') %>
    <% else %>
      <div class="upload-image-icon falsify-image-click">Click here to take a photo</div>
    <% end %>
    <%= file_field_tag 'athlete_photo', accept: 'image/*', capture: 'camera', class: 'hidden upload-image-btn' %>
  </div>
<% end %>
