<% content_for :body do %>
  <style>
    html, body { background: black; }
  </style>
<% end %>

<h2 class="secret-title pass-field"><div class="name-container"><%= @athlete.full_name %></div></h2>
<div class="secret-field pass-field">
  <%= form_tag({controller: "class_handlers", action: "join_class", id: @event.id}, method: "post") do |f| %>
    <%= text_field_tag :pin, nil, class: 'secret-input-field', readonly: true %><br/>
    <%= hidden_field_tag :fast_pass_id, @athlete.fast_pass_id %>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">1</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">2</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">3</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">4</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">5</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">6</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">7</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">8</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">9</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn"><</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">0</a></div>
    <div class="secret-btn-container col-xs-4"><%= submit_tag "", class: "pass-secret-button" %></div>
  <% end %>
</div>
