<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <%= link_to 'Back to Cities', cities_path, class: 'pkut-btn' %>
  <h2><%= @city %></h2>
  <br/>
  <br/>
  <br/>
  <% @events.each do |event| %>
    <%= link_to edit_event_path(event.id), class: 'pkut-btn' do %>
      <%= "#{event.date.strftime('%l:%M %p %A')} #{event.title}" %>
    <% end %>
    <br/>
    <br/>
  <% end %>
</div>
