<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <% [1, 83788378].each do |event_id| %>
    <% event = Event.find(event_id) %>
    <%= link_to edit_event_path(event_id), class: 'pkut-btn' do %>
      <%= event.class_name %>
    <% end %>
  <% end %>
  <br/><br/>
  <div class="row">
    <%= link_to edit_colors_path, class: 'pkut-btn' do %>
      Edit Class Colors
    <% end %>
  </div>
  <h2>Cities</h2>
  <br/>
  <% @cities.each do |city| %>
    <%= link_to city, city_path(city), class: 'pkut-btn' %><br/><br/>
  <% end %>
</div>
