<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <%= link_to 'Back to Cities', cities_path, class: 'pkut-btn' %>
  <h2 class="event-color color-<%= Event.color_of(@city) %>"><%= @city %></h2>
  <% Event.colors.keys.each do |color| %>
    <%= link_to color_class_path(color: color, class_name: @city), method: :post do %>
      <p class="col-xs-3 event-color color-<%= color %>"><%= color %></p>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <br/>
  <% @events.each do |event| %>
    <%= link_to edit_event_path(event.id), class: 'pkut-btn' do %>
      <%= "#{event.date.strftime('%l:%M %p %A')} #{event.class_name}" %>
    <% end %>
    <br/>
    <br/>
  <% end %>
</div>
