<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <hr/>
  <% @classes.each do |class_name| %>
    <div class="row">
      <a alt="..." class="pkut-btn forceOpen" data-toggle="modal" data-target="#color_<%= class_name %>"><%= class_name %></a>
      <br/>
      <br/>
    </div>
    <div class="modal fade" id="color_<%= class_name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="central-container">
        <div class="error-container center-block">
          <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
          <h1 class="pkut-header">Select Color</h1>
          <div class="relative row">
            <% Event.colors.keys.each do |color| %>
              <%= link_to color_class_path(color: color, class_name: class_name), method: :post do %>
                <p class="col-xs-6" style="<%= event.css_style %>"><%= color %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
