<div class="fancy-box central-container form-offset">
  <%= form_for @event, url: {action: "update"} do |f| %>
    <%= f.text_field :title, placeholder: 'Title', required: true, class: 'fancy-textbox' %><br/>
    <%= f.text_field :cost, placeholder: 'Cost', size: 2, class: 'fancy-textbox' %><br/>
    <%= f.text_area :description, placeholder: 'Event Description', required: true, class: 'fancy-textarea' %><br/>
    <%= f.text_field :city, placeholder: 'City' , required: true, class: 'fancy-textbox' %><br/>
    <!-- Searchable -->
    <%= f.text_field :address, placeholder: 'Full Address', required: true, class: 'fancy-textbox' %><br/>
    <%= f.text_area :location_instructions, placeholder: 'Special Instructions', class: 'fancy-textarea' %><br/>
    <%= f.text_field :host, placeholder: 'Host', required: true, class: 'fancy-textbox' %><br/>
    <%= f.text_field :class_name, placeholder: 'Class', required: true, class: 'fancy-textbox' %><br/>
    <input type="number" placeholder="Hr" value="<%= @event.date.hour > 12 ? @event.date.hour - 12 : @event.date.hour %>" name="time[hour]" min="1" max="12" required="required" style="color: black;">:
    <input type="number" placeholder="Min" value="<%= @event.date.min %>" name="time[minute]" min="0" max="59" required="required" style="color: black;">
    <% if @event.date.hour > 12 %>
      <input type="radio" name="time[meridiam]" value="AM"> AM
      <input type="radio" checked="checked" name="time[meridiam]" value="PM"> PM<br/>
    <% else %>
      <input type="radio" checked="checked" name="time[meridiam]" value="AM"> AM
      <input type="radio" name="time[meridiam]" value="PM"> PM<br/>
    <% end %>
    <%= label_tag :all, "Change all events related to this one?" %><br/>
    <%= check_box_tag :all %><br/>
    <h5>This will update any of your changes on all repeating events from this one, before and after.</h5>
    <br/>
    <%= submit_tag "√", class: "btn btn-success" %>
  <% end %>
</div>
