<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <% this_event = Event.by_token(@event.token).select{|e| e.date.to_date == DateTime.current.to_date}.first %>
  <% if this_event %>
    <% if this_event.cancelled? %>
      <%= link_to 'Uncancel Event', cancel_event_path(this_event.id, should_happen: true), method: :post, class: 'pkut-btn' %>
    <% else %>
      <%= link_to 'Cancel Event', cancel_event_path(this_event.id, should_happen: false), method: :post, class: 'pkut-btn' %>
    <% end %>
  <% end %>
  <%= form_tag url: {action: 'send_message_to_subscribers'} do %>
    <%= text_area_tag :message, "Our #{@event.city} #{@event.class_name} class today is cancelled! Sorry for the inconvenience.", class: 'pkut-textarea' %>
    <%= submit_tag "Send to #{@event.subscribed_users.count} user(s).", class: 'pkut-btn' %>
  <% end %>
  <%= form_for @event, url: {action: "update"} do |f| %>
    <h5>Example text:</h5>
    <%= f.label :title, 'Hope to see you at our {city} {class} class today at {time}!' %><br/>
    <%= f.label :class_name %><br/>
    <%= f.text_field :class_name, placeholder: 'Class', class: 'customRequired pkut-textbox' %><br/>
    <%= f.label :address %><br/>
    <%= f.text_field :address, placeholder: 'Full Address', class: 'pkut-textbox' %><br/>
    <%= f.label :city %><br/>
    <%= f.text_field :city, placeholder: 'City' , class: 'customRequired pkut-textbox' %><br/>
    <%= f.label :zip %><br/>
    <%= f.text_field :zip, placeholder: 'Zip' , class: 'pkut-textbox' %><br/>
    <%= f.label :state %><br/>
    <%= f.text_field :state, value: 'Utah' , class: 'pkut-textbox' %><br/>
    <!-- Searchable -->
    <%= f.label :description, 'A description of the event' %><br/>
    <%= f.text_area :description, placeholder: 'Our weekly Draper fundamentals class. Wear comfortable clothing that is easy to move in and a water bottle. Class runs for an hour and a half and involves moving all around the park. Make sure to bring your punch card or $12 via Credit Card for a single class. If you haven''t ever been before a WAIVER will need to be signed by you (if you\'re 18+) or a parent. If you have any questions about the class feel free to contact the teacher, Justin Spencer, via text or call 801-580-9274.', class: 'pkut-textarea' %><br/>
    <%= f.label :location_instructions, "Special instructions for specifically getting to the area. (Not required)" %><br/>
    <%= f.text_area :location_instructions, placeholder: 'Get off the freeway at Provo Center Street, go straight through the first light, take the left fork, take your next two rights then follow the road to the end.', class: 'pkut-textarea' %><br/>
    <%= f.label :host %><br/>
    <%= f.text_field :host, placeholder: 'Host', class: 'customRequired pkut-textbox' %><br/>
    <%= f.label :cost %><br/>
    <%= f.number_field :cost_in_dollars, placeholder: 'Cost', size: 2, class: 'pkut-textbox' %><br/>
    <%= f.label :time %><br/>
    <input type="number" value="<%= @event.date.hour > 12 ? @event.date.hour - 12 : @event.date.hour  %>" placeholder="Hr" name="time[hour]" min="1" max="12" class="customRequired" style="color: black;">:
    <input type="number" value="<%= @event.date.min %>" placeholder="Min" name="time[minute]" value="00" min="0" max="59" class="customRequired" style="color: black;">
    <input type="radio" name="time[meridiam]" checked="<%= @event.date.hour <= 12 ? 'checked' : '' %>" value="AM"> AM
    <input type="radio" name="time[meridiam]" checked="<%= @event.date.hour > 12 ? 'checked' : '' %>" value="PM"> PM<br/>
    <h4>This will update all repeating events.</h4>
    <%= label_tag :all, "Update all?" %>
    <%= check_box_tag :all, '', true %>
    <%= hidden_field_tag :date, @event.date, class: "datepicker-placeholder" %>
    <br/>
    <%= submit_tag "Submit", class: "btn btn-success" %>
    <%= link_to 'Destroy all occurrences', destroy_event_path(future: "all", id: @event.id), method: :delete, class: "btn btn-danger",
    data:{confirm: "Are you sure? This will delete this and all future events tied to this one."} if @event.token %>
    <h4>If you would like to destroy only one instance, you must do it from the calendar.</h4>
  <% end %>

</div>
