<%= form_for @event, url: {action: "create"} do |f| %>
  <div class="date-picker"></div><br/>
  <span class="date-placeholder">--/--/----</span><br/>
  <%= f.text_field :title, placeholder: 'Title', required: true %><br/>
  <%= f.number_field :cost, placeholder: 'Cost', size: 2 %><br/>
  <%= f.text_area :description, placeholder: 'Event Description', required: true %><br/>
  <%= f.text_field :city, placeholder: 'City' , required: true %><br/>
  <!-- Searchable -->
  <%= f.text_field :address, placeholder: 'Full Address', required: true %><br/>
  <%= f.text_area :location_instructions, placeholder: 'Special Instructions' %><br/>
  <%= f.text_field :host, placeholder: 'Host', required: true %><br/>
  <%= f.text_field :class_name, placeholder: 'Class', required: true %><br/>
  <input type="number" placeholder="Hr" name="time[hour]" min="1" max="12" required="required">:
  <input type="number" placeholder="Min" name="time[minute]" min="0" max="59" required="required">
  <input type="radio" name="time[meridiam]" value="AM"> AM
  <input type="radio" name="time[meridiam]" checked="checked" value="PM"> PM<br/>
  <%= check_box_tag :repeat %>
  <%= label_tag :repeat, "Repeat Weekly?" %>
  <%= hidden_field_tag :date, "", class: "datepicker-placeholder", required: true %>
  <br/>
  <%= submit_tag "√", class: "btn btn-success" %>
<% end %>
