<div class="fancy-box central-container form-offset">
  <%= form_for @event, url: {action: "create"} do |f| %>
    <h4>Select a starting date</h4>
    <div class="date-picker"></div><br/>
    <span class="date-placeholder">--/--/----</span><br/>
    <%= f.text_field :title, placeholder: 'Title', required: true, class: 'fancy-textbox' %><br/>
    <%= f.number_field :cost, placeholder: 'Cost', size: 2, class: 'fancy-textbox' %><br/>
    <%= f.text_area :description, placeholder: 'Event Description', required: true, class: 'fancy-textarea' %><br/>
    <%= f.text_field :city, placeholder: 'City' , required: true, class: 'fancy-textbox' %><br/>
    <!-- Searchable -->
    <%= f.text_field :address, placeholder: 'Full Address', required: true, class: 'fancy-textbox' %><br/>
    <%= f.text_area :location_instructions, placeholder: 'Special Instructions', class: 'fancy-textarea' %><br/>
    <%= f.text_field :host, placeholder: 'Host', required: true, class: 'fancy-textbox' %><br/>
    <%= f.text_field :class_name, placeholder: 'Class', required: true, class: 'fancy-textbox' %><br/>
    <input type="number" placeholder="Hr" name="time[hour]" min="1" max="12" required="required" style="color: black;">:
    <input type="number" placeholder="Min" name="time[minute]" min="0" max="59" required="required" style="color: black;">
    <input type="radio" name="time[meridiam]" value="AM"> AM
    <input type="radio" name="time[meridiam]" checked="checked" value="PM"> PM<br/>
    <h4>This will copy the event every week on the same day for 1 year.</h4>
    <%= label_tag :repeat, "Repeat Weekly?" %>
    <%= check_box_tag :repeat %>
    <%= hidden_field_tag :date, "", class: "datepicker-placeholder", required: true %>
    <br/>
    <%= submit_tag "√", class: "btn btn-success" %>
  <% end %>
</div>
