<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <%= text_field_tag :q, '', { id: "user_index_search_field", "data-index-url": admin_users_path, placeholder: "Search", class: "pkut-textbox" } %>
  <div>Users: <%= @users.total_count %></div>
  <div><%= paginate @users %></div>
  <% @users.each do |user| %>
    <h3><%= user.id %>: <%= '!' unless user.notifications.email_newsletter? %><%= user.email %></h3>
    <%= link_to 'View User Management Page', admin_user_path(user) %>
    <% if user.can_receive_sms? %>
      <p><strong><%= format_phone_number(user.phone_number) %></strong></p>
    <% else %>
      <p class="pkut-text"><s><%= format_phone_number(user.phone_number) %></s></p>
    <% end %>
    <p>Credits: <%= user.credits %>
    <p><a href="<%= attendance_admin_user_path(user) %>">Attendance History</a></p>
    <p>Last seen:
      <% if user.signed_in? %>
        <span style="color:green;">Online Now!</span>
      <% else %>
        <% if user.last_sign_in_at? %>
          <span style="color:yellow;"><%= (user.last_sign_in_at - 6.hours).strftime('%B %e, %Y at %I:%M %p') %></span>
        <% else %>
          <span style="color:red;">Never</span>
        <% end %>
      <% end %>
    </p>
    <p>Signed up: <strong><%= (user.created_at - 6.hours).strftime('%B %e, %Y at %I:%M %p') %></strong></p>
    <h4>Athletes:</h4>
    <% user.athletes_by_waiver_expiration.each do |athlete| %>
      <% if athlete.has_unlimited_access? %>
        <span style="color: green;">--Has unlimited access until: <%= athlete.has_access_until.strftime('%B %e, %Y') %></span><br/>
      <% end %>
        --<%= athlete.id %>: <strong><%= athlete.full_name %></strong> - ID: <%= athlete.fast_pass_id.to_s.rjust(4, "0") %><%= athlete.current_subscription.try(:auto_renew) ? '*' : '' %><br/>
      --Birthday: <%= athlete.date_of_birth %><br/>
      --Waiver expires: <%= athlete.waiver ? athlete.waiver.expiry_date.strftime('%B %e, %Y') : "No waiver signed" %><br/><br/>
    <% end %>
    <hr>
  <% end %>
</div>
