<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <%= form_for @item do |f| %>
    <div class="form-container">
      <%= render partial: 'layouts/error_container', locals: { resource: @item } %>
      <div class="form-field">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: 'Green Parachute Pants', class: 'customRequired pkut-textbox' %>
      </div>
      <div class="form-field">
        <%= f.label :cost_in_dollars %>
        <%= f.number_field :cost_in_dollars, placeholder: '3000.99', class: 'customRequired pkut-textbox', step: "any", min: "0" %>
      </div>
      <div class="form-field">
        <%= f.label :bundle_amount %>
        <%= f.number_field :bundle_amount, placeholder: '3', class: 'pkut-textbox', step: "1", min: "0" %>
      </div>
      <div class="form-field">
        <%= f.label :bundle_cost, "Cost per item when bundled" %>
        <%= f.number_field :bundle_cost, placeholder: '30.99', class: 'pkut-textbox', step: "any", min: "0" %>
      </div>
      <div class="form-field">
        <%= f.label :loyalty_cost_in_dollars, "Loyalty Price (for users signed up before March 2026)" %>
        <%= f.number_field :loyalty_cost_in_dollars, placeholder: '24.99', class: 'pkut-textbox', step: "any", min: "0" %>
      </div>
      <div class="form-field">
        <%= f.label :size %>
        <%= f.text_field :size, placeholder: 'S, M, L / 38.5, 39, 43', class: 'pkut-textbox' %>
      </div>
      <div class="form-field">
        <%= f.label :color %>
        <%= f.text_field :color, placeholder: 'Blue, Green, Grey, Black', class: 'pkut-textbox' %>
      </div>
      <div class="form-field">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: 'Marvelous skills sewn with godly thread.', class: 'customRequired pkut-textarea' %>
      </div>
      <div class="form-field">
        <%= f.label :tags, "Tags (Comma separated, used for discounting from plans)" %> <br>
        <%= f.text_field :tags, class: 'pkut-textbox', value: @item.tags&.join(", ") %>
      </div>
      <div class="form-field">
        <%= f.label :plan_item_id, "Offers plan:" %>
        <%= f.select :plan_item_id, @plans, { include_blank: "No plan attached" }, class: 'pkut-textbox' %>
      </div>
      <div class="form-field">
        <%= f.label :redemption_item_id %>
        <%= f.select :redemption_item_id, @hidden_items, {include_blank: "Not a Gift Card"}, class: 'pkut-textbox' %>
      </div>
      <div class="form-field">
        <%= f.label :category %>
        <%= f.select :category, @categories, {}, class: 'pkut-textbox' %>
      </div>
      <div class="form-field">
        <div class="pkut-checkbox">
          <%= check_box_tag :display_location_info, '', @item.instructor_ids.present? || @item.location_ids.present? || @item.time_range_start.present? || @item.time_range_end.present?, data: { reveal: "#location-info" } %>
          <%= label_tag :display_location_info, "Display location Info?" %>
        </div>
      </div>
      <div id="location-info">
        <div class="form-field">
          <%= f.label :instructors %>
          <% User.instructors.each do |instructor| %>
            <div class="pkut-checkbox">
              <%= check_box_tag "line_item[instructor_ids][#{instructor.id}]", true, @item.instructor_ids.to_s.split(",").include?(instructor.id.to_s) %>
              <%= label_tag "line_item[instructor_ids][#{instructor.id}]", instructor.display_name %>
            </div>
          <% end %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.label :locations %>
          <% Spot.all.each do |spot| %>
            <div class="pkut-checkbox">
              <%= check_box_tag "line_item[location_ids][#{spot.id}]", true, @item.location_ids.to_s.split(",").include?(spot.id.to_s) %>
              <%= label_tag "line_item[location_ids][#{spot.id}]", spot.title %>
            </div>
          <% end %>
        </div>
        <hr>
        <% time_range = @item.possible_time_range %>
        <div class="form-field">
          <%= f.label :time_range_start %>
          <%= f.select :time_range_start, time_range, {include_blank: true}, class: 'pkut-textbox' %>
        </div>
        <div class="form-field">
          <%= f.label :time_range_end %>
          <%= f.select :time_range_end, time_range, {include_blank: true}, class: 'pkut-textbox' %>
        </div>
        <hr>
      </div>
      <div class="form-field">
        <div class="pkut-checkbox">
          <%= f.check_box :hidden %>
          <%= f.label :hidden, 'Hidden? (Hidden items are only purchasable with a redemption key)' %>
        </div>
      </div>
      <div class="form-field">
        <div class="pkut-checkbox">
          <%= f.check_box :taxable %>
          <%= f.label :taxable, 'Taxable?' %>
        </div>
      </div>
      <div class="form-field">
        <%= f.label :credits %>
        <%= f.text_field :credits, class: 'pkut-textbox restrictNumeric' %>
      </div>
      <%= submit_tag "Submit", class: "btn btn-success" %>
      <% if @item.persisted? %>
        <%= link_to "Destroy", line_item_path(@item.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
