<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <div class="text-center"><%= paginate @attendances %></div>
  <%= link_to new_attendance_path, class: "pkut-btn" do %>
    <i class="fa fa-plus"></i> Add Attendance
  <% end %>
  <% @attendances.group_by {|a| a.event.date.to_date}.each do |date, attendances| %>
    <h3><%= date.strftime("%B %-d, %Y") %></h3>
    <ul>
      <% attendances.sort_by(&:created_at).each do |attendance| %>
        <% next unless attendance.athlete.present? %>
        <li style="margin-top: 10px;">
          <strong>Class:</strong> <%= link_to attendance.event.title, event_schedule_path(attendance.event.event_schedule) %><br>
          <strong>Instructor:</strong> <%= link_to attendance.instructor.full_name.presence || "#{attendance.instructor.id} - #{attendance.instructor.email}", instructor_path(attendance.instructor) %><br>
          <strong>Student:</strong> <%= link_to attendance.athlete.full_name, admin_user_path(attendance.athlete.user) %><br>
          <strong>Guardian:</strong> <%= link_to attendance.athlete.user.email, admin_user_path(attendance.athlete.user) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
