<div class="shopping-cart-container">
  <div class="shopping-cart">
    <div class="orders-placeholder">
      <% @cart.transactions.where("amount > ?", 0).each do |order| %>
        <%= render partial: 'shopping_cart_item', locals: {order: order} %>
      <% end %>
    </div>
    <br/>
    <span class="shopping-cart-total">Total: <span class="shopping-cart-total-holder"><%= number_to_currency(@cart.price) %></span></span>
    <%= form_tag '/store/redeem', remote: true do %>
      <%= text_field_tag :redemption_key, '', placeholder: 'Redemption Key', class: 'redemption-key-container', autocomplete: "off" %>
      <%= submit_tag "Submit" %>
    <% end %>
    <%= form_tag charge_path do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount=<%= current_user.cart.price * 100 %>></script>
    <% end %>
  </div>
</div>
