<div class="shopping-cart-container">
  <div class="shopping-cart">
    <div class="orders-placeholder">
      <% @cart.transactions.where("amount > ?", 0).each do |order| %>
        <%= render partial: 'shopping_cart_item', locals: {order: order} %>
      <% end %>
    </div>
    <br/>
    <%= form_tag '/store/redeem', remote: true do %>
      <%= text_field_tag :redemption_key, '', placeholder: 'Redemption Key', class: 'redemption-key-container', autocomplete: "off" %>
      <%= submit_tag "Submit" %>
    <% end %>
    <span class="shopping-cart-total">Total: <span class="shopping-cart-total-holder"><%= number_to_currency(@cart.price) %></span></span>
    <%= link_to "Purchase Cart", purchase_path, method: :post, data: {confirm: "Are you sure? \nThis will charge your account #{number_to_currency(@cart.price)}."} %>
  </div>
</div>
