<div class="modal fade" id="info<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <div class="error-container center-block">
      <%= form_tag update_cart_path(item_id: item.id), remote: true do %>
        <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
        <h3 class="pkut-header"><%= item.title %></h3>
        <br/>
        <div class="row">
          <% col_size = item.colors && item.sizes ? 6 : 12 %>
          <% if item.sizes %>
            <div class="col-xs-<%= col_size %> text-center">
              <h5 class="pkut-header title">Size</h5>
              <%= select_tag :size, options_for_select(item.sizes) %>
            </div>
          <% end %>
          <% if item.colors %>
            <div class="col-xs-<%= col_size %> text-center">
              <h5 class="pkut-header title">Colors</h5>
              <%= select_tag :color, options_for_select(item.colors) %>
            </div>
          <% end %>
        </div>
        <br/>
        <br/>
        <%= submit_tag "Add to Cart", class: "pkut-btn" %>
      <% end %>
    </div>
  </div>
</div>
