<%= render_modal("info#{item.id}", "skinny-modal") do %>
  <%= form_tag update_cart_path(item_id: item.id), remote: true do %>
    <h3 class="pkut-text"><%= item.title %></h3>
    <br/>
    <div class="flex-row">
      <% col_size = item.colors && item.sizes ? 6 : 12 %>
      <% if item.sizes %>
        <div class="text-center">
          <h5 class="pkut-text">Size</h5>
          <%= select_tag :size, options_for_select(item.sizes) %>
        </div>
      <% end %>
      <% if item.colors %>
        <div class="text-center">
          <h5 class="pkut-text">Colors</h5>
          <%= select_tag :color, options_for_select(item.colors) %>
        </div>
      <% end %>
    </div>
    <br/>
    <br/>
    <%= submit_tag "Add to Cart", class: "pkut-btn" %>
  <% end %>
<% end %>
