<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <%= form_for @item, url: {action: "update", id: @item.id} do |f| %>
    <h5>Title</h5>
    <%= f.text_field :title, placeholder: 'Title', required: true, autocomplete: "off", class: 'pkut-textbox' %><br/>
    <h5>Cost</h5>
    <%= f.text_field :cost_in_dollars, value: @item.cost_in_dollars, placeholder: 'Cost', required: true, autocomplete: "off", step: 0.01, class: 'pkut-textbox' %><br/>
    <h5>Sizes, comma separated</h5>
    <%= f.text_field :size, placeholder: 'S, M, L / 38.5, 39, 43', class: 'pkut-textbox' %>
    <h5>Colors, comma separated</h5>
    <%= f.text_field :color, placeholder: 'Blue, Green, Grey, Black', class: 'pkut-textbox' %>
    <h5>Description</h5>
    <%= f.text_area :description, placeholder: 'Description', required: true, autocomplete: "off", class: 'pkut-textarea' %><br/>
    <h5>Category</h5>
    <%= f.select :category, @categories, class: 'pkut-textbox' %>
    <br/>
    <br/>
    <%= f.check_box :hidden %>
    <%= f.label :hidden, 'Hidden? (Hidden items are only purchasable with a redemption key)' %>
    <br/>
    <%= f.check_box :taxable %>
    <%= f.label :taxable, 'Taxable?' %>
    <h5>Credits given to user after purchase (1 class = 12)</h5>
    <%= f.text_field :credits, class: 'pkut-textbox restrictNumeric' %>
    <h5>Display image</h5>
    <%= f.file_field :display, placeholder: 'Display' %>
    <br/>
    <br/>
    <%= submit_tag "Submit", class: "btn btn-success" %>
    <%= link_to "Destroy", destroy_item_path(@item.id), method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
