<% if current_user && current_user.is_admin? %>
  <div class="fancy-box central-container form-offset">
    <h4><%= link_to "Back to Dashboard", dashboard_path, class: 'fancy-btn' %></h4><br/><br/>
    <%= form_tag '/store/admin/generate_keys' do %>
      <h2>Generate Keys</h2><br/>
      Type of Key: <br/>
      <%= select_tag :key_type, options_from_collection_for_select(@hidden, "id", "title") %>
      <br/><br/>
      How many keys?<br/>
      <%= number_field :how_many, '', step: 1, class: 'pkut-textbox restrictNumeric' %><br/><br/>

      <h4><%= submit_tag "Generate!", class: 'fancy-btn' %></h4>
    <% end %>
  </div>
<% end %>
