<br/>There are <%= @items.count %> items in the store.<br/>
<!-- <div class="row"> -->
<div class="instructors-container">
  <% @items.reverse.each do |item| %>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front" style="background: #FFF url(<%= item.display.url %>);background-size: 100% 100%;">
        </div>
        <div class="back" style="background: #FFF url(<%= item.display.url %>);background-size: 100% 100%;">
          <div class="bio-background">
            <br/>
            <p class="card-bio-text">
              <strong><%= item.title %></strong><br/>
              <%= number_to_currency(item.cost) %><br/>
              <%= item.description %>
            </p>
            <%= link_to "Add to Cart", add_to_cart_path(item.id), class: "bio-link", remote: true if user_signed_in? %><br/>
            <%= link_to "Edit Item", edit_item_path(item.id) if user_signed_in? && current_user.is_admin? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Add new item", add_item_path if user_signed_in? && current_user.is_admin? %>
