<% content_for :body do %>
  <style>
    html, body { background: black; }
  </style>
<% end %>

<div class="row shopping-container">
  <br class="visible-xs"/>
  <br class="visible-xs"/>
  <div class="items-container col-sm-9 relative">

    <% [:classes, :clothing, :accessories, :other].each do |category| %>
      <div class="row">
        <h2 class="pkut-header title pull-left hidden-xs"><%= category.to_s.capitalize %></h2>
        <h2 class="pkut-header title visible-xs"><%= category.to_s.capitalize %></h2>
      </div>
      <% @items[category].sort_by {|i|i.item_order}.each do |item| %>
        <div class="item-flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="item-flipper">
            <div class="item-front">
              <br/>
              <strong><%= item.title %></strong><br/>
              <%= number_to_currency(item.cost_in_dollars) %><%= item.is_subscription? ? "/month" : "" %><br/>
              <%= image_tag(item.display, class: 'item-img') if item.display_file_size %>
            </div>
            <div class="item-back">
              <p class="item-text"><%= item.description %></p>
              <a class="hover-btn forceOpen" style="text-align: center;" data-toggle="modal" data-target="#details<%= item.id %>">Read More</a>
              <%= link_to "Add to Cart", update_cart_path(item_id: item.id), class: "pkut-btn", remote: true, method: :post if user_signed_in? %><br/>
            </div>
          </div>
        </div>
        <%= render partial: 'layouts/message', locals: {modal_id: "details#{item.id}", title: item.title, message: item.description} %>
      <% end if @items[category] %>
    <% end %>
  </div>
  <div class="col-sm-3 cart-container">
    <%= render partial: 'cart' %>
  </div>
</div>
