<div class="row shopping-container">
  <div class="col-xs-3 cart-container">
    <%= render partial: 'cart' %>
  </div>
  <div class="instructors-container col-xs-9">
    <% @items.reverse.each do |item| %>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front" style="background: #FFF url(<%= item.display.url %>);background-size: 100% 100%;">
          </div>
          <div class="back" style="background: #FFF url(<%= item.display.url %>);background-size: 100% 100%;">
            <div class="bio-background">
              <br/>
              <p class="card-bio-text">
                <strong><%= item.title %></strong><br/>
                <%= number_to_currency(item.cost_in_dollars) %><br/>
                <%= item.description %>
                <%= link_to "Add to Cart", update_cart_path(item_id: item.id), class: "bio-link", remote: true, method: :post if user_signed_in? %><br/>
                <%= link_to "Edit Item", edit_item_path(item.id) if user_signed_in? && current_user.is_admin? %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
