<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <h4>Click and Drag to change Line Item order. Click to edit Line Item info.</h4>
  <h5>Items that say &lt;Hidden&gt; will not appear in the store.</h5><br/>
  <table class="sortable" id="line-item-table">
  <% @items.each do |item| %>
      <tr class="sortable-row">
        <td class="hidden sortable-url">/store/update_position/<%= item.id %></td>
        <td>
          <%= link_to edit_item_path(item.id), class: 'pkut-btn' do %>
            <%= icon('arrows', '', class: 'fa-lg')  %>
            <% if item.hidden %>
              <span style="color:white;">&lt;Hidden&gt;</span>
            <% end %>
            <%= item.title %>
          <% end %>
          <br/>
          <br/>
        </td>
      </tr>
    <% end %>
  </table>
</div>
