$('body').prepend('<%= j render "layouts/flashes" %>');
$('.shopping-cart-price-holder').html('<%= j number_to_currency(@cart.price_in_dollars) %>');
$('.shopping-cart-taxes-holder').html('<%= j number_to_currency(@cart.taxes_in_dollars) %>');
$('.shopping-cart-shipping-holder').html('<%= j number_to_currency(@cart.shipping_in_dollars) %>');
$('.shopping-cart-total-holder').html('<%= j number_to_currency(@cart.total_in_dollars) %>');
$('.stripe-button').attr('data-amount', '<%= j number_to_currency(@cart.total) %>');

$('.shopping-cart-line-item-quantity-input').each(function() {
  $(this).val(0);
})
<% @cart.cart_items.each do |order| %>
  var amount = "<%= order.amount %>";
  $('.value-selector-<%= order.order_name.parameterize %>').val(amount);
<% end %>
updateCartItems();

<% if @order %>
  $('.orders-placeholder').append('<div class="hidden-holder"><%= j render partial: "shopping_cart_item", locals: {order: @order} %></div>');
  <% message = @order.item.bundle_amount? && @order.item.bundle_cost_in_pennies ? "Hey! If you buy #{@order.item.bundle_amount} or more of these, you get the family discount!" : "" %>
  addFlashNotice('<%= message %>');
<% end %>
<% if @redeemed_token %>
  <% if @invalid %>
    $('.redemption-key-container').val('').attr('placeholder', 'Invalid Code').blur();
  <% else %>
    $('.redemption-key-container').val('').attr('placeholder', 'Coupon Code').blur();
  <% end %>
<% end %>
