<div class="desktop-header hidden-xs">
  <div class="navbar navbar-fixed-top" data-spy="affix">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">PARKOUR UTAH</a>
      </div>
      <div class="pull-right" id="navbar">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><a alt="..." class="hover-btn" data-toggle="modal" data-target="#modal_contact">Contact Us</a></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Schedule", calendar_show_path('all') %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= edit_user_registration_path %>">
                  Home
                </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= store_path %>">
                  Store
                </a></li>
                <% if current_user.is_instructor? %>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= dashboard_path %>">
                    Dashboard
                  </a></li>
                <% end %>
                <li role="presentation">
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, tabindex: "-1", role: "menuitem" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><a alt="..." class="hover-btn" data-toggle="modal" data-target="#modal_contact">Contact Us</a></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Schedule", calendar_show_path('all') %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="central-container modal-dialog">
      <button type="button" class="close-btn contact-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
      <%= render partial: 'index/contact_us' %>
    </div>
  </div>
</div>

<div class="mobile-header visible-xs">
  <div class="navbar navbar-fixed-top" data-spy="affix">
    <div class="container">
      <a href="/" class="navbar-brand">PARKOUR UTAH</a>
      <div class="nav-collapse pull-right" id="navbar">
        <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <%= icon('bars', '', class: 'fa-lg nav-icon') %>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown">
            <% if user_signed_in? %>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= edit_user_registration_path %>">
                Home
              </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= store_path %>">
                Store
              </a></li>
              <% if current_user.is_instructor? %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= dashboard_path %>">
                  Dashboard
                </a></li>
              <% end %>
              <li role="presentation">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, tabindex: "-1", role: "menuitem" %>
              </li>
              <hr>
              <li><%= link_to "Contact Us", contact_page_path %></li>
              <li><%= link_to "Store", store_path %></li>
              <li><%= link_to "Schedule", calendar_show_path('all') %></li>
            <% else %>
              <li><a alt="..." class="hover-btn" data-toggle="modal" data-target="#modal_contact">Contact Us</a></li>
              <li><%= link_to "Store", store_path %></li>
              <li><%= link_to "Schedule", calendar_show_path('all') %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/required_missing' %>
