<!DOCTYPE html>
<html>
<head>
  <title>ParkourUtah</title>
  <% unless Rails.env.production? %>
    <%# This prevents Google from finding our Staging server %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta name="google-site-verification" content="5uf1OKzOYIfhb6m-6kpArPbzV2wNzPoig7yKI8lElk0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <% if Rails.env.production? %>
    <%= render partial: "layouts/facebook_tracking" %>
  <% end %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body>
  <%= render 'layouts/flashes' %>
  <%= render 'layouts/navigation' %>
  <% if content_for?(:body) %>
    <%= yield(:body) %>
  <% end %>
  <div class="navbar-offset"></div>
  <%= yield %>
  <% if content_for?(:modals) %>
    <%= yield(:modals) %>
  <% end %>
  <% if params[:trigger_fb_purchase].present? %>
    <style>
      fbq('track', 'Purchase', {
        item_ids:  <%= params[:trigger_fb_purchase][:item_ids] %>,
        value: <%= params[:trigger_fb_purchase][:value].to_f %>,
        currency: 'USD'
      });
    </style>
  <% end %>
</body>
</html>
