<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/meta_tags" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body>
  <%= render 'layouts/flashes' %>
  <%= render 'layouts/navigation' %>
  <% if content_for?(:body) %>
    <%= yield(:body) %>
  <% end %>
  <div class="navbar-offset"></div>
  <%= yield %>
  <% if content_for?(:modals) %>
    <%= yield(:modals) %>
  <% end %>
  <% if params[:trigger_fb_purchase].present? && Rails.env.production? %>
    <script>
      fbq('track', 'Purchase', {
        item_ids:  <%= params[:trigger_fb_purchase][:item_ids]&.map(&:to_i) %>,
        value: <%= params[:trigger_fb_purchase][:value].to_f %>,
        currency: 'USD'
      });
    </script>
  <% end %>
</body>
</html>
