<!DOCTYPE html>
<html>
<head>
  <title>ParkourUtah</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if notice %>
    <div class="flash-container">
      <div class="flash notice"></div>
      <span class="flash-text"><%= notice %></span>
    </div>
  <% end %>
  <% if alert %>
    <div class="flash-container">
      <div class="flash alert"></div>
      <span class="flash-text"><%= alert %></span>
    </div>
  <% end %>
  <div class="navbar-offset"></div>

  <%= yield %>

</body>
</html>
